# This is a configuration file for myapplication
#
# Reading a configuration file means simple key/value pairs,
# which means reading a value intended to be an array requires
# additional parsing. The json package can be employed to do this work, e.g.
#
# key = ["item1", "item2", "item3"]
# 
# Read with:
#	json.loads(config.get("section","key"))
#
# Text strings are parsed as unicode, so cast them to str() before using.

[app]
debugMode = True

# add your custom values here

[domain1]
key1 = value1
key2 = value2

[db_example]
host = dbhost.edu
port = 55432
database = db_name
user = db_username
# password = better to read from .pgpass or $PGPASSWORD instead of setting it here


