* text=auto !eol
bin/profile_marvin -text
bin/run_marvin -text
docs/Mode_Decision_Tree.graffle -text
docs/Mode_Decision_Tree.pdf -text
etc/config.ini -text
etc/marvin.module -text
python/marvin/__init__.py -text
python/marvin/api/__init__.py -text
python/marvin/api/api.py -text
python/marvin/api/base.py -text
python/marvin/api/cube.py -text
python/marvin/api/tests/__init__.py -text
python/marvin/api/tests/test_base.py -text
python/marvin/db/__init__.py -text
python/marvin/db/database.py -text
python/marvin/db/dbconfig.ini -text
python/marvin/db/sql/mangadapdb.sql -text
python/marvin/db/sql/mangadatadb.sql -text
python/marvin/db/sql/utah_mangadb.sql -text
python/marvin/tools/__init__.py -text
python/marvin/tools/cube.py -text
python/marvin/tools/query/__init__.py -text
python/marvin/tools/query/query.py -text
python/marvin/tools/query/results.py -text
python/marvin/tools/tests/test_cube.py -text
python/marvin/utils/__init__.py -text
python/marvin/utils/db/__init__.py -text
python/marvin/utils/db/dbutils.py -text
python/marvin/utils/general/__init__.py -text
python/marvin/utils/general/decorators.py -text
python/marvin/utils/general/general.py -text
python/marvin/web/__init__.py -text
python/marvin/web/configuration/localhost.cfg -text
python/marvin/web/configuration/utah.cfg -text
python/marvin/web/controllers/__init__.py -text
python/marvin/web/controllers/index.py -text
python/marvin/web/jinja_filters.py -text
python/marvin/web/templates/index.html -text
python/marvin/web/templates/layout.html -text
