* text=auto !eol
bin/profile_marvin -text
bin/run_marvin -text
docs/Mode_Decision_Tree.graffle -text
docs/Mode_Decision_Tree.pdf -text
docs/sphinx/.buildinfo -text
docs/sphinx/.doctrees/environment.pickle -text
docs/sphinx/.doctrees/index.doctree -text
docs/sphinx/.doctrees/marvin.api.api.doctree -text
docs/sphinx/.doctrees/marvin.api.base.doctree -text
docs/sphinx/.doctrees/marvin.api.cube.doctree -text
docs/sphinx/.doctrees/marvin.api.doctree -text
docs/sphinx/.doctrees/marvin.api.general.doctree -text
docs/sphinx/.doctrees/marvin.db.database.doctree -text
docs/sphinx/.doctrees/marvin.db.doctree -text
docs/sphinx/.doctrees/marvin.doctree -text
docs/sphinx/.doctrees/marvin.core.colourPrint.doctree -text
docs/sphinx/.doctrees/marvin.core.core.doctree -text
docs/sphinx/.doctrees/marvin.core.doctree -text
docs/sphinx/.doctrees/marvin.core.exceptions.doctree -text
docs/sphinx/.doctrees/marvin.core.logger.doctree -text
docs/sphinx/.doctrees/marvin.tools.cube.doctree -text
docs/sphinx/.doctrees/marvin.tools.doctree -text
docs/sphinx/.doctrees/marvin.tools.query.doctree -text
docs/sphinx/.doctrees/marvin.tools.query.query.doctree -text
docs/sphinx/.doctrees/marvin.tools.query.results.doctree -text
docs/sphinx/.doctrees/marvin.tools.tests.doctree -text
docs/sphinx/.doctrees/marvin.tools.tests.test_cube.doctree -text
docs/sphinx/.doctrees/marvin.utils.db.dbutils.doctree -text
docs/sphinx/.doctrees/marvin.utils.db.doctree -text
docs/sphinx/.doctrees/marvin.utils.doctree -text
docs/sphinx/.doctrees/marvin.utils.general.decorators.doctree -text
docs/sphinx/.doctrees/marvin.utils.general.doctree -text
docs/sphinx/.doctrees/marvin.utils.general.general.doctree -text
docs/sphinx/.doctrees/marvin.web.controllers.doctree -text
docs/sphinx/.doctrees/marvin.web.controllers.index.doctree -text
docs/sphinx/.doctrees/marvin.web.doctree -text
docs/sphinx/.doctrees/marvin.web.jinja_filters.doctree -text
docs/sphinx/Makefile -text
docs/sphinx/api/queries.rst -text
docs/sphinx/build/.buildinfo -text
docs/sphinx/build/.doctrees/environment.pickle -text
docs/sphinx/build/.doctrees/index.doctree -text
docs/sphinx/build/.doctrees/marvin.api.api.doctree -text
docs/sphinx/build/.doctrees/marvin.api.base.doctree -text
docs/sphinx/build/.doctrees/marvin.api.cube.doctree -text
docs/sphinx/build/.doctrees/marvin.api.doctree -text
docs/sphinx/build/.doctrees/marvin.api.general.doctree -text
docs/sphinx/build/.doctrees/marvin.db.database.doctree -text
docs/sphinx/build/.doctrees/marvin.db.doctree -text
docs/sphinx/build/.doctrees/marvin.doctree -text
docs/sphinx/build/.doctrees/marvin.core.colourPrint.doctree -text
docs/sphinx/build/.doctrees/marvin.core.core.doctree -text
docs/sphinx/build/.doctrees/marvin.core.doctree -text
docs/sphinx/build/.doctrees/marvin.core.exceptions.doctree -text
docs/sphinx/build/.doctrees/marvin.core.logger.doctree -text
docs/sphinx/build/.doctrees/marvin.tools.cube.doctree -text
docs/sphinx/build/.doctrees/marvin.tools.doctree -text
docs/sphinx/build/.doctrees/marvin.tools.query.doctree -text
docs/sphinx/build/.doctrees/marvin.tools.query.query.doctree -text
docs/sphinx/build/.doctrees/marvin.tools.query.results.doctree -text
docs/sphinx/build/.doctrees/marvin.tools.tests.doctree -text
docs/sphinx/build/.doctrees/marvin.tools.tests.test_cube.doctree -text
docs/sphinx/build/.doctrees/marvin.utils.db.dbutils.doctree -text
docs/sphinx/build/.doctrees/marvin.utils.db.doctree -text
docs/sphinx/build/.doctrees/marvin.utils.doctree -text
docs/sphinx/build/.doctrees/marvin.utils.general.decorators.doctree -text
docs/sphinx/build/.doctrees/marvin.utils.general.doctree -text
docs/sphinx/build/.doctrees/marvin.utils.general.general.doctree -text
docs/sphinx/build/.doctrees/marvin.web.controllers.doctree -text
docs/sphinx/build/.doctrees/marvin.web.controllers.index.doctree -text
docs/sphinx/build/.doctrees/marvin.web.doctree -text
docs/sphinx/build/.doctrees/marvin.web.jinja_filters.doctree -text
docs/sphinx/build/_modules/index.html -text
docs/sphinx/build/_modules/marvin.html -text
docs/sphinx/build/_modules/marvin/api/api.html -text
docs/sphinx/build/_modules/marvin/api/base.html -text
docs/sphinx/build/_modules/marvin/api/cube.html -text
docs/sphinx/build/_modules/marvin/api/general.html -text
docs/sphinx/build/_modules/marvin/tools/core/colourPrint.html -text
docs/sphinx/build/_modules/marvin/tools/core/core.html -text
docs/sphinx/build/_modules/marvin/tools/core/exceptions.html -text
docs/sphinx/build/_modules/marvin/tools/core/logger.html -text
docs/sphinx/build/_modules/marvin/tools/cube.html -text
docs/sphinx/build/_modules/marvin/tools/query/query.html -text
docs/sphinx/build/_modules/marvin/tools/query/results.html -text
docs/sphinx/build/_modules/marvin/tools/tests.html -text
docs/sphinx/build/_modules/marvin/tools/tests/test_cube.html -text
docs/sphinx/build/_modules/marvin/utils/db/dbutils.html -text
docs/sphinx/build/_modules/marvin/utils/general/decorators.html -text
docs/sphinx/build/_modules/marvin/utils/general/general.html -text
docs/sphinx/build/_modules/marvin/web.html -text
docs/sphinx/build/_modules/marvin/web/controllers/index.html -text
docs/sphinx/build/_sources/index.txt -text
docs/sphinx/build/_sources/marvin.api.api.txt -text
docs/sphinx/build/_sources/marvin.api.base.txt -text
docs/sphinx/build/_sources/marvin.api.cube.txt -text
docs/sphinx/build/_sources/marvin.api.general.txt -text
docs/sphinx/build/_sources/marvin.api.txt -text
docs/sphinx/build/_sources/marvin.db.database.txt -text
docs/sphinx/build/_sources/marvin.db.txt -text
docs/sphinx/build/_sources/marvin.core.colourPrint.txt -text
docs/sphinx/build/_sources/marvin.core.core.txt -text
docs/sphinx/build/_sources/marvin.core.exceptions.txt -text
docs/sphinx/build/_sources/marvin.core.logger.txt -text
docs/sphinx/build/_sources/marvin.core.txt -text
docs/sphinx/build/_sources/marvin.tools.cube.txt -text
docs/sphinx/build/_sources/marvin.tools.query.query.txt -text
docs/sphinx/build/_sources/marvin.tools.query.results.txt -text
docs/sphinx/build/_sources/marvin.tools.query.txt -text
docs/sphinx/build/_sources/marvin.tools.tests.test_cube.txt -text
docs/sphinx/build/_sources/marvin.tools.tests.txt -text
docs/sphinx/build/_sources/marvin.tools.txt -text
docs/sphinx/build/_sources/marvin.txt -text
docs/sphinx/build/_sources/marvin.utils.db.dbutils.txt -text
docs/sphinx/build/_sources/marvin.utils.db.txt -text
docs/sphinx/build/_sources/marvin.utils.general.decorators.txt -text
docs/sphinx/build/_sources/marvin.utils.general.general.txt -text
docs/sphinx/build/_sources/marvin.utils.general.txt -text
docs/sphinx/build/_sources/marvin.utils.txt -text
docs/sphinx/build/_sources/marvin.web.controllers.index.txt -text
docs/sphinx/build/_sources/marvin.web.controllers.txt -text
docs/sphinx/build/_sources/marvin.web.jinja_filters.txt -text
docs/sphinx/build/_sources/marvin.web.txt -text
docs/sphinx/build/_static/ajax-loader.gif -text svneol=unset#image/gif
docs/sphinx/build/_static/alabaster.css -text
docs/sphinx/build/_static/basic.css -text
docs/sphinx/build/_static/comment-bright.png -text svneol=unset#image/png
docs/sphinx/build/_static/comment-close.png -text svneol=unset#image/png
docs/sphinx/build/_static/comment.png -text svneol=unset#image/png
docs/sphinx/build/_static/doctools.js -text
docs/sphinx/build/_static/down-pressed.png -text svneol=unset#image/png
docs/sphinx/build/_static/down.png -text svneol=unset#image/png
docs/sphinx/build/_static/file.png -text svneol=unset#image/png
docs/sphinx/build/_static/jquery-1.11.1.js -text
docs/sphinx/build/_static/jquery.js -text
docs/sphinx/build/_static/minus.png -text svneol=unset#image/png
docs/sphinx/build/_static/plus.png -text svneol=unset#image/png
docs/sphinx/build/_static/pygments.css -text
docs/sphinx/build/_static/searchtools.js -text
docs/sphinx/build/_static/underscore-1.3.1.js -text
docs/sphinx/build/_static/underscore.js -text
docs/sphinx/build/_static/up-pressed.png -text svneol=unset#image/png
docs/sphinx/build/_static/up.png -text svneol=unset#image/png
docs/sphinx/build/_static/websupport.js -text
docs/sphinx/build/genindex.html -text
docs/sphinx/build/index.html -text
docs/sphinx/build/marvin.api.api.html -text
docs/sphinx/build/marvin.api.base.html -text
docs/sphinx/build/marvin.api.cube.html -text
docs/sphinx/build/marvin.api.general.html -text
docs/sphinx/build/marvin.api.html -text
docs/sphinx/build/marvin.db.database.html -text
docs/sphinx/build/marvin.db.html -text
docs/sphinx/build/marvin.html -text
docs/sphinx/build/marvin.core.colourPrint.html -text
docs/sphinx/build/marvin.core.core.html -text
docs/sphinx/build/marvin.core.exceptions.html -text
docs/sphinx/build/marvin.core.html -text
docs/sphinx/build/marvin.core.logger.html -text
docs/sphinx/build/marvin.tools.cube.html -text
docs/sphinx/build/marvin.tools.html -text
docs/sphinx/build/marvin.tools.query.html -text
docs/sphinx/build/marvin.tools.query.query.html -text
docs/sphinx/build/marvin.tools.query.results.html -text
docs/sphinx/build/marvin.tools.tests.html -text
docs/sphinx/build/marvin.tools.tests.test_cube.html -text
docs/sphinx/build/marvin.utils.db.dbutils.html -text
docs/sphinx/build/marvin.utils.db.html -text
docs/sphinx/build/marvin.utils.general.decorators.html -text
docs/sphinx/build/marvin.utils.general.general.html -text
docs/sphinx/build/marvin.utils.general.html -text
docs/sphinx/build/marvin.utils.html -text
docs/sphinx/build/marvin.web.controllers.html -text
docs/sphinx/build/marvin.web.controllers.index.html -text
docs/sphinx/build/marvin.web.html -text
docs/sphinx/build/marvin.web.jinja_filters.html -text
docs/sphinx/build/objects.inv -text
docs/sphinx/build/py-modindex.html -text
docs/sphinx/build/search.html -text
docs/sphinx/build/searchindex.js -text
docs/sphinx/source/Makefile -text
docs/sphinx/source/conf.py -text
docs/sphinx/source/index.rst -text
docs/sphinx/source/make.bat -text
docs/sphinx/source/marvin.api.api.rst -text
docs/sphinx/source/marvin.api.base.rst -text
docs/sphinx/source/marvin.api.cube.rst -text
docs/sphinx/source/marvin.api.general.rst -text
docs/sphinx/source/marvin.api.rst -text
docs/sphinx/source/marvin.db.database.rst -text
docs/sphinx/source/marvin.db.rst -text
docs/sphinx/source/marvin.rst -text
docs/sphinx/source/marvin.core.colourPrint.rst -text
docs/sphinx/source/marvin.core.core.rst -text
docs/sphinx/source/marvin.core.exceptions.rst -text
docs/sphinx/source/marvin.core.logger.rst -text
docs/sphinx/source/marvin.core.rst -text
docs/sphinx/source/marvin.tools.cube.rst -text
docs/sphinx/source/marvin.tools.query.query.rst -text
docs/sphinx/source/marvin.tools.query.results.rst -text
docs/sphinx/source/marvin.tools.query.rst -text
docs/sphinx/source/marvin.tools.rst -text
docs/sphinx/source/marvin.tools.tests.rst -text
docs/sphinx/source/marvin.tools.tests.test_cube.rst -text
docs/sphinx/source/marvin.utils.db.dbutils.rst -text
docs/sphinx/source/marvin.utils.db.rst -text
docs/sphinx/source/marvin.utils.general.decorators.rst -text
docs/sphinx/source/marvin.utils.general.general.rst -text
docs/sphinx/source/marvin.utils.general.rst -text
docs/sphinx/source/marvin.utils.rst -text
docs/sphinx/source/marvin.web.controllers.index.rst -text
docs/sphinx/source/marvin.web.controllers.rst -text
docs/sphinx/source/marvin.web.jinja_filters.rst -text
docs/sphinx/source/marvin.web.rst -text
docs/sphinx/sphinx_warnings.out -text
etc/config.ini -text
etc/marvin.module -text
python/marvin/__init__.py -text
python/marvin/api/__init__.py -text
python/marvin/api/api.py -text
python/marvin/api/base.py -text
python/marvin/api/cube.py -text
python/marvin/api/query.py -text
python/marvin/db/__init__.py -text
python/marvin/db/database.py -text
python/marvin/db/dbconfig.ini -text
python/marvin/db/marvindb.py -text
python/marvin/db/sql/mangadapdb.sql -text
python/marvin/db/sql/mangadatadb.sql -text
python/marvin/db/sql/utah_mangadb.sql -text
python/marvin/tests/__init__.py -text
python/marvin/tests/api/test_base.py -text
python/marvin/tests/api/test_query.py -text
python/marvin/tests/tools/test_cube.py -text
python/marvin/tests/tools/test_query.py -text
python/marvin/tests/tools/test_results.py -text
python/marvin/tools/__init__.py -text
python/marvin/tools/cube.py -text
python/marvin/tools/query/__init__.py -text
python/marvin/tools/query/forms.py -text
python/marvin/tools/query/query.py -text
python/marvin/tools/query/results.py -text
python/marvin/utils/__init__.py -text
python/marvin/utils/db/__init__.py -text
python/marvin/utils/db/dbutils.py -text
python/marvin/utils/general/__init__.py -text
python/marvin/utils/general/decorators.py -text
python/marvin/utils/general/general.py -text
python/marvin/utils/general/images.py -text
python/marvin/web/configuration/localhost.cfg -text
python/marvin/web/configuration/utah.cfg -text
python/marvin/web/controllers/__init__.py -text
python/marvin/web/controllers/galaxy.py -text
python/marvin/web/controllers/images.py -text
python/marvin/web/controllers/index.py -text
python/marvin/web/controllers/plate.py -text
python/marvin/web/controllers/search.py -text
python/marvin/web/jinja_filters.py -text
python/marvin/web/lib/Gruntfile.js -text
python/marvin/web/lib/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.eot -text svneol=unset#application/vnd.ms-fontobject
python/marvin/web/lib/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.svg -text svneol=unset#application/xml
python/marvin/web/lib/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.ttf -text svneol=unset#application/x-font-ttf
python/marvin/web/lib/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.woff -text
python/marvin/web/lib/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.woff2 -text
python/marvin/web/lib/css/marvin.css -text
python/marvin/web/lib/css/marvin.css.map -text
python/marvin/web/lib/dist/marvin.css -text
python/marvin/web/lib/dist/marvin.js -text
python/marvin/web/lib/dist/marvin.min.css -text
python/marvin/web/lib/dist/marvin.min.js -text
python/marvin/web/lib/images/brian.jpg -text svneol=unset#image/jpeg
python/marvin/web/lib/images/logo5_lores.png -text svneol=unset#image/png
python/marvin/web/lib/images/marvin_favicon.ico -text
python/marvin/web/lib/images/sdss_marvin.png -text svneol=unset#image/png
python/marvin/web/lib/js/carousel.js -text
python/marvin/web/lib/js/galaxy.js -text
python/marvin/web/lib/js/header.js -text
python/marvin/web/lib/js/marvin.js -text
python/marvin/web/lib/js/olmap.js -text
python/marvin/web/lib/js/table.js -text
python/marvin/web/lib/js/utils.js -text
python/marvin/web/lib/package.json -text
python/marvin/web/lib/scss/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.eot -text svneol=unset#application/vnd.ms-fontobject
python/marvin/web/lib/scss/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.svg -text svneol=unset#application/xml
python/marvin/web/lib/scss/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.ttf -text svneol=unset#application/x-font-ttf
python/marvin/web/lib/scss/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.woff -text
python/marvin/web/lib/scss/bootstrap/fonts/bootstrap/glyphicons-halflings-regular.woff2 -text
python/marvin/web/lib/scss/bootstrap/images/.keep -text
python/marvin/web/lib/scss/bootstrap/stylesheets/_bootstrap.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_alerts.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_badges.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_breadcrumbs.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_button-groups.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_buttons.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_carousel.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_close.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_code.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_component-animations.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_dropdowns.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_forms.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_glyphicons.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_grid.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_input-groups.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_jumbotron.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_labels.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_list-group.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_media.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_mixins.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_modals.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_navbar.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_navs.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_normalize.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_pager.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_pagination.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_panels.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_popovers.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_print.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_progress-bars.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_responsive-embed.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_responsive-utilities.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_scaffolding.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_tables.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_theme.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_thumbnails.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_tooltip.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_type.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_utilities.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_variables.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/_wells.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_alerts.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_background-variant.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_border-radius.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_buttons.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_center-block.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_clearfix.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_forms.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_gradients.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_grid-framework.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_grid.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_hide-text.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_image.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_labels.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_list-group.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_nav-divider.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_nav-vertical-align.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_opacity.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_pagination.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_panels.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_progress-bar.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_reset-filter.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_reset-text.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_resize.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_responsive-visibility.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_size.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_tab-focus.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_table-row.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_text-emphasis.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_text-overflow.scss -text
python/marvin/web/lib/scss/bootstrap/stylesheets/bootstrap/mixins/_vendor-prefixes.scss -text
python/marvin/web/lib/scss/flatly/_bootswatch.scss -text
python/marvin/web/lib/scss/flatly/_variables.scss -text
python/marvin/web/lib/scss/marvin.scss -text
python/marvin/web/lib/scss/marvin/_footer.scss -text
python/marvin/web/lib/scss/marvin/_galaxy.scss -text
python/marvin/web/lib/scss/marvin/_header.scss -text
python/marvin/web/lib/scss/marvin/_login.scss -text
python/marvin/web/lib/scss/marvin/_random.scss -text
python/marvin/web/lib/src/carousel.js -text
python/marvin/web/lib/src/galaxy.js -text
python/marvin/web/lib/src/header.js -text
python/marvin/web/lib/src/marvin.js -text
python/marvin/web/lib/src/olmap.js -text
python/marvin/web/lib/src/table.js -text
python/marvin/web/lib/src/utils.js -text
python/marvin/web/static/images/brian.jpg -text svneol=unset#image/jpeg
python/marvin/web/static/images/logo5_lores.png -text svneol=unset#image/png
python/marvin/web/static/images/marvin_favicon.ico -text
python/marvin/web/static/images/sdss_marvin.png -text svneol=unset#image/png
python/marvin/web/templates/footer.html -text
python/marvin/web/templates/galaxy.html -text
python/marvin/web/templates/header.html -text
python/marvin/web/templates/index.html -text
python/marvin/web/templates/layout.html -text
python/marvin/web/templates/macros.html -text
python/marvin/web/templates/plate.html -text
python/marvin/web/templates/random.html -text
python/marvin/web/templates/search.html -text
python/marvin/web/templates/test.html -text
python/marvin/web/web_utils.py -text
