[submodule "python/marvin/extern/tree"]
	path = python/marvin/extern/tree
	url = https://github.com/marvin-manga/tree.git
[submodule "python/marvin/extern/sdss_access"]
	path = python/marvin/extern/sdss_access
	url = https://github.com/marvin-manga/sdss_access.git
[submodule "python/marvin/extern/wtforms-alchemy"]
	path = python/marvin/extern/wtforms-alchemy
	url = https://github.com/marvin-manga/wtforms-alchemy
[submodule "python/marvin/extern/sqlalchemy-boolean-search"]
	path = python/marvin/extern/sqlalchemy-boolean-search
	url = https://github.com/marvin-manga/sqlalchemy-boolean-search
[submodule "python/marvin/extern/marvin_brain"]
	path = python/marvin/extern/marvin_brain
	url = https://github.com/marvin-manga/marvin_brain
