/__pycache__
bin/__pycache__
bin/flask_profiler.sql
docs/sphinx/_build
docs/sphinx/flask_profiler.sql
etc/node_modules
python/__pycache__
python/marvin/__pycache__
python/marvin/api/__pycache__
python/marvin/db/__pycache__
python/marvin/tools/__pycache__
python/marvin/utils/__pycache__
python/marvin/utils/db/__pycache__
python/marvin/utils/general/__pycache__
python/marvin/web/__pycache__
python/marvin/web/controllers/__pycache__
python/marvin/web/lib/.sass-cache
python/marvin/web/lib/node_modules
python/marvin/web/static/node_modules
python/marvin/web/templates/__pycache__
