filter_secrets: false
language: python
cache:
  pip: true
  timeout: 1000
sudo: false
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
os:
- linux
services:
- postgresql
- memcached
addons:
  postgresql: '9.4'
  apt:
    packages: xvfb nano
  browserstack:
    username: briancherinka1
    access_key:
      secure: pYZvnrAb/xTeGWuxozLzSxwOpJgMMrRXLdcUj/s2CHjVrxmrbEhH/wBCltJujZ2Yr3V4mkg3AHVUqkYZ92uYNSGB5XI5F8U3+JAtXqO5O8YlASTGezA/Qizi4uRjoiaTalHRpfmLZQQLj810dq9cPq6xPJc1gPnZVUFUeOfptr6vBw1WwL9zLbLOp09kB9kbaeskgG4AW4kNanud+EtsGThQ1TMPzdsiIN1xb+8mbiuvzOO6w4fE1Zw+GGsl17uqGj+tNkPtHaj1Kk1SnsXSnMv3W1tLGz/S8BJMGJ0YeorxEQaohgjXBpcxV8fx265wzILtok1o7/CtPWDInMb8ZitXKGkS1Y8uIUQRIBTTYstPbWizoxot3qjRwL3+3hyms9Uhljfs611Ta8qPA7vvqR9ZT10x0Y2UPR85t0nk+NFFGPF6Sbb4+Vm+vg9Im1n/c/pHqiNSlbotFxonLzJZPfvP1CPQ4PcrYHq6T0qXuP08hzf3y1AYflmgnUXrYcoroVPD9vs6MBWD6QcMmq0ugsu2JApteCuZsgwozoeliHhvrEeQc113p3HqocyIXphQ39FMrEQuCG1n38vXXG6dE3Ya7hNqiGh8Zu9pm4u2P5w70HZqKwwMDCtpajd3MTHNhEvbPx4iKsRdu5WALkbrhNFm8VaP8KFXGgodeI/SSAc=
env:
  global:
  - MANGA_LOCALHOST=1
  - DISPLAY=:99.0
  - USE_BROWSERSTACK=1
  - MARVIN_USES_SUBSET_IN_TRAVIS=1
  matrix:
  - secure: czJeyIFbGwaVmB+coHwuV8ZU7c8YhYnnGplkYKLED76QU3hAs08zztvaE5gpHIsQk//YMieGhg0YJgahM6C/5OoKWd6eU4iilCGp76tv0NaljZwJx1wGfCOZwxPoARYzNIoiq+D7TB4snTym2lS71T1iV5TcTr6cxCiOAbdxf88DFcFN1Rwah+4ivweFSYnqUc3be4QZIlMHgZIL3/jst70fvkMfYy9OK/mov43IuhCDkVRzYyi/F2Ga/nuJdpvR4zgRm1cJQ7sMyAtPcP11Bho9UZPI5mNiOwwrxd7A4/nLA7E/9y1kf1BVPcsoeRQ3m3YaeHrD66AP+EdRav+puxXrZhwgt3s2hbToNI+T++/mdbMamxlziRcfu05FVx7XUjBSyPMvdKl6b08DIgF+0gEyTplTB3k5kDvTWn0UjW7S9jenrBRpfRsI2e8KSHkfFjvTTmBJjTUWQvsglzMr3K49xsWgXuYROd4TzDFnPEIZ4EB4KDv01rJwZnucdej8jAo9cxpOh3M7P9KpfsgnIJZSxFF2cNaqNf1Ja/aa6DAjWCp7ldbL8zmHBVt0OfgGGuf/cntUNtQGwXLWPF3teQIB6YeBXLbTuemqN7oCio4H5UgLSHODoBlMiJ5RocRXqosoWPBmaZJys0Rl6aW7tTTrfviCHaJ/DRoM4JjMqLs=
matrix:
  fast_finish: true
  allow_failures:
  - python: '3.4'
notifications:
  slack:
    secure: FZXERPoPv4n52hBx3bvEjJ5T0Ey2Es7Sa7sd/MA4AMr7l1771YZ1VTLpVtpw4qJR8vrt4NtSFbBowJiovDmx6FCjEb/2N6RipjbLowAtFRqjalOGO3KZOi3UPeiytP/IYD1DG7YmeYJOL8aof2awns8ckAWRSz6HO3cDpqg+hycDXasZQdQfIKgY17UZvONBJZCZGeC3lMw4IrbhkfhW7aQvhUhcXDtfEyObNt2+FGE6y7WDeOEjtfArKc/Iz4gybWLkYPpA6rtQfQciQvpZv94sanxli8vq4mXIpu/dxn73jfKSYsYIl7+OYrXKJQBy/8muwwuSe2et15mG90KGUsDOJ+PXKCLOSl8JohO/pH0l3hZKno6nX7byL6orEbBuQjpMJO0QFUs7o6hLSv3q4tgtuV0M99I8UHcIgmBYL9oXI4BHIsSwreTXHfV/8LiuZfyaB2NzwKuRHQTZQfCD+ujqXaspyQX70Xew2L7rruRuBuKLTntgklMFtAPYJYbW/4z6HsZ//X6Z2BHwe0Etv4FZaKsf8IK81p//oYi/3kw2ENRYNARu0HzU0Edba6ugBPjzw6wFyWsL35IFTSosby50iAWo7xYfRXBv1kH0tPOcmPoJzFcrdAmvEqt6K8bNwqgx72/qsBp4fhmGfQM5G07dkyQM+hu+e9OPEfTwOo4=
  email: false
branches:
  except:
  - mpl6
before_install:
- openssl aes-256-cbc -K $encrypted_4e487599227c_key -iv $encrypted_4e487599227c_iv
  -in etc/.netrc.enc -out ~/.netrc -d
- chmod 600 ~/.netrc
- mkdir ~/.marvin
- printf "check_access:\x20True\nadd_github_message:\x20False\nuse_sentry:\x20False" > ~/.marvin/marvin.yml
- wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O ~/miniconda.sh
- bash ~/miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- conda update --yes conda
install:
- conda create --yes -n test_env python=$TRAVIS_PYTHON_VERSION pip numpy scipy matplotlib
  ipython --quiet
- source activate test_env
- pip install -U pip wheel --quiet
- pip install --upgrade setuptools --quiet
- pip install pytest
- pip install pytest-coverage
- pip install coveralls
- pip install codecov
- pip install .[dev]
before_script:
- export PYTHONPATH=$PYTHONPATH:$TRAVIS_BUILD_DIR/python
- sh -e /etc/init.d/xvfb start
- sleep 3
- travis_wait 20 sh $TRAVIS_BUILD_DIR/bin/setup_travis
- export LOCAL_MARVIN_PORT=50${TRAVIS_PYTHON_VERSION/.}
- echo $LOCAL_MARVIN_PORT
- export MARVIN_DIR=$TRAVIS_BUILD_DIR
- "$TRAVIS_BUILD_DIR/bin/run_marvin -l -d -p $LOCAL_MARVIN_PORT &"
- sleep 20
- "$TRAVIS_BUILD_DIR/bin/check_marvin"
- echo $MANGA_LOCALHOST
script:
- pytest tests --travis-only --cov marvin --cov-report html -W
  ignore::DeprecationWarning
after_success:
- coveralls
- codecov

