-r requirements.txt
pytest>=3.0.7
pytest-cov>=2.4.0
pytest-flask>=0.10.0
pytest-sugar>=0.8.0
twine>=1.8.1
invoke>=0.18.1
uwsgi>=2.0.15
psycopg2>=2.6.2
blinker>=1.4
selenium>=3.3.1
page_objects>=1.1.0
