-r requirements.txt
blinker>=1.4
Flask-JSGlue>=0.3
Flask-FeatureFlags>=0.6
flask-profiler>=1.0.1
Flask-RESTful>=0.3.5
Flask-SQLAlchemy>=2.1
Flask-Testing>=0.6.1
Flask-Limiter>=0.9.4
Flask-Session>=0.3.1
Flask-Caching>=1.4.0
Flask-Login>=0.4.1
Flask-Cors>=3.0.8
Flask-Compress>=1.4
pgpasslib>=1.1.0
psycopg2>=2.6.2
PyYAML>=3.11
uwsgi>=2.0.15
redis>=3.3

python-memcached>=1.58
validators>=0.10.3
intervals>=0.8.0
