{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/verticals.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
{% endblock head %}

{% block body %}

    <div>
        <div class='row'>
            <div class='col-md-2'>
                <img id="marvin404" src="{{url_for('static',filename='images/marvin.jpg')}}" class="img-responsive">
            </div>
            <div class='col-md-6 vert-offset-top-7' id='errortext'>
                {#<h1>"This will all end in tears I just know it."</h1>#}
                <h1>"I've seen it.  It's rubbish."</h1>

                <h2>404: Page Not Found</h2>
                <p>What you were looking for is just not there.</p>

                {% if page %}
                    <h4>{{page}} page not found!</h4>
                    {% if '.html' in page %}
                        <h4>Try removing the .html</h4>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
    
{% endblock body %} 

