# This configuration file is for Flask running on any utah.sdss.edu machine.

# NOTE: Only all uppcase values are read!
# Ref: http://flask.pocoo.org/docs/api/#flask.Config

# MODULES_INIT_SCRIPT = /usr/share/Modules/init/python.py

# log raw SQL queries
LOG_SQL_QUERIES = True

# leave as default (localhost:5000)
# SERVER_NAME = 'localhost:5000'
SECRET_KEY = 'MARVIN_5000'
WTF_CSRF_ENABLED = True

# PREFERRED_URL_SCHEME = 'https'

# ------------------------------
# Database connection parameters
# ------------------------------

DB_DATABASE = 'manga'
DB_HOST = 'localhost'
DB_USER = ''
DB_PASSWORD = ''
DB_PORT = ''

