
.red {
    color: red;
}

.green {
    color: green;
}

.pink {
    color: pink;
}

.orange {
    color: orange;
}

.purple {
    color: purple;
}

.rubric > .rubric-h1 {font-size: 175%;}

div.highlight {
    background-color: white;
}

dt:target, .highlight {
    background: #FAF3E8;
}
