/*p.rubric { font-size: 60%; }*/

/* Taken from Click documentation */

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

/* fonts */
body                        { font-family: 'Ubuntu Mono', 'Consolas', 'Menlo',
                              'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono';
                              font-size: 15px; }

div.admonition p.admonition-title, div.sphinxsidebar h3, div.sphinxsidebar h4,
  div.sphinxsidebar input, div.body h1, div.body h2, div.body h3, div.body h4,
  div.body h5, div.body h6  { font-family: 'Open Sans', 'Helvetica', 'Arial',
                              sans-serif; font-weight: 400; }

div.body h1, div.body h2, div.body h3, div.body h4,
  div.body h5, div.body h6  { color: black; }

pre, code                   { font-family: 'Ubuntu Mono', 'Consolas', 'Menlo',
                              'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono';
                              font-size: 15px;}

pre, * pre                  { padding: 7px 0 7px 30px!important;
                              margin: 15px 0!important;
                              line-height: 1.3; }

div.body h1 { font-size: 180%; }
div.body h2 { font-size: 135%; }
div.body h3 { font-size: 110%; }
div.body h4 { font-size: 90%; }
div.body h5 { font-size: 80%; }
div.body h6 { font-size: 70%; }

/* colors */
div.body                    { color: #3E4349; }
a                           { color: #5D2CD1; }
a:hover                     { color: #7546E3; }
p.version-warning           { background-color: #7546E3; }
a.reference                 { border-bottom: 1px dotted #5D2CD1; }
a.reference:hover           { border-bottom: 1px solid #7546E3; }
a.footnote-reference        { border-bottom: 1px dotted #5D2CD1; }
a.footnote-reference:hover  { border-bottom: 1px solid #7546E3; }
a:hover code                { background-color: #eeeeee; }
code.xref, a code           { background-color: #E8EFF0;
                              border-bottom: 1px solid white; }

.rubric > .class-header-no-toc {
  font-size: 200%;
  padding-bottom: 20px;
  display: inline-block;
}
