
.red {
    color: red;
}

.green {
    color: green;
}

.pink {
    color: pink;
}

.orange {
    color: orange;
}

.purple {
    color: purple;
}

.rubric-h1 {
    font-size: 175%;
    font-weight: 700;
}

.rubric-h2 {
    font-size: 150%;
    font-weight: 700;
}

.rubric-h3 {
    font-size: 125%;
    font-weight: 700;
}

div.highlight {
    background-color: white;
}

dt:target, .highlight {
    background: #FAF3E8;
}

.wy-nav-content {
    max-width: 1200px !important;
}