# This configuration file is for Flask running on the manga cluster at Utah

# NOTE: Only all uppcase values are read!
# Ref: http://flask.pocoo.org/docs/api/#flask.Config

# MODULES_INIT_SCRIPT = /usr/share/Modules/init/python.py

# log raw SQL queries
LOG_SQL_QUERIES = True

# Production server at Utah
# SERVER_NAME = 'sas.sdss.org'
SECRET_KEY = 'MARVIN_UTAH'
WTF_CSRF_ENABLED = True
WTF_CSRF_SECRET_KEY = 'wtfsecretkey'

# Parameters for File Uploads
UPLOAD_FOLDER = '/tmp/'
ALLOWED_EXTENSIONS = set(['txt','csv'])
MAX_CONTENT_LENGTH = 50*1024*1024

# PREFERRED_URL_SCHEME = 'https'

