
{# TABLE MACRO #}

{# cols - initial display columns, keys - all columns, data - table data 
   flags - quality flag names, stage  - stage of pipeline, type - type of table
#}

{% macro sastable(cols, keys, data, flags=None, stage=None, type=None, trac_url=None, statuses=None, ready=None) %}

{% if type == 'data' %}
	{% set sortparam = 'plate' if stage=='3d' else 'mjd' %}
{% elif type == 'comment' %}
	{% set sortparam = 'modified' %}
{% elif type == 'feedback' %}
	{% set sortparam = 'modified' %}
{% else %}
	{% set sortparam = 'plate' if stage=='3d' else 'mjd' %}
{% endif %}

<table class='sastable' id='table' data-toggle='table' data-classes='table table-condensed table-bordered' 
		data-sort-name="{{sortparam}}" data-sort-order='asc'
		data-show-columns='true' data-pagination='true' data-search='true' data-page-size='10' 
		data-select-item-name='input' data-toolbar='#toolbar' data-id-field='id' 
		data-side-pagination='client' data-page-list="[10, 25, 50, 100]" name='sastable'>

	<thead>
 		<tr id='head'>
 		    <th data-field="state" data-checkbox="true">ID</th>
 		    <th data-field="id" id='id' data-visible='false' data-switchable='false'>ID</th>
	 		{% for column in keys %}
 			<th id='{{column}}' data-field='{{column}}' data-sortable='true' data-sorter="sort"
 				data-cell-style="{{'cellStyle' if (column=='plate' or 'status' in column or 'comp' in column) else ''}}"
 				data-visible="{{'false' if column not in cols else 'true'}}">{{column|upper}}</th>
	 		{% endfor %} 		
		</tr>	 		
	</thead>
	
	<tbody>
    		
    	{% for row in data %}
    		<tr class='col{{plate}}'>
    			{% set rowloop = loop %}
    			<td></td><td>{{loop.index0}}</td>
    			{% for col in keys %}
    				{% if col == 'plate' %}
    					<td><a target='_blank' href='/marvin/plateInfo.html?plateID={{row[col]}}&version={{(row['versdrp2']|split())[0]}}'>{{row[col]}}</a></td>
    				{% elif col == 'ifuname' or col == 'ifudesign' or col == 'ifudsgn' %}
    					<td><a target='_blank' href='/marvin/plateInfo.html?plateID={{row['plate']}}&version={{(row['versdrp2']|split())[0]}}#{{row[col]}}'>{{row[col]}}</a></td>
    				{% elif col == 'tracticket' %}
                        {% if 'ticket' in row[col] %}
                            <td>{% if trac_url %}<a target='_blank' href='{{trac_url}}/{{row[col]}}'>{{row[col]}}</a>{% else %}{{row[col]}}{% endif %}</td>
                        {% elif 'promote' in row[col] %}
                            <td><button type='button' class='btn btn-primary btn-sm' onclick='promoteTracticket({{row["id"]}})' id='feedback{{row["id"]}}'>Promote</button></td>
                        {% else %}
                            <td><button type='button' class='btn btn-default btn-sm' disabled id='feedback{{row["id"]}}'>Promote</button></td>
                        {% endif %}
                    {% elif col == 'status' %}
                        <td> {{select_feedbackstatus(row[col], statuses, row['id'],ready)}} </td>
                    {% elif col == 'vote' %}
                        {% if ready %} <td> {{votebutton(row['id'],row['vote'])}} </td> {% else %} <td>{{row['vote']}}</td> {% endif %}
    				{% else %}
    					<td>{{row[col] if 'qual' not in col else flags[rowloop.index0] if flags else row[col]}}</td>
    				{% endif %}
    			{% endfor %}
    		</tr>
    	{% endfor %}
					
	</tbody>
	
</table>

{% endmacro %}


{# Upvote/Downvote Button #}
{% macro votebutton(id,vote) %}

    <div class="vote circle" id='vote_{{id}}'>
      <div class="increment up" id='up_{{id}}'></div>
      <div class="increment down" id='down_{{id}}'></div>
      
      <div class="count" id='count_{{id}}'>{{vote}}</div>
    </div>

{% endmacro %}

{# Feedback Status Select #}
{% macro select_feedbackstatus(current,statuses,id,ready) %}
    
    <select class='feedback_status' id='feedback_status_{{id}}' {% if not ready %} disabled {% endif %} >
        {% for status in statuses %}
            {% if current == status %}
                <option name='{{status}}' id='{{status}}' val='{{status}}' selected>{{status}}</option>
            {% else %}
                <option name='{{status}}' id='{{status}}' val='{{status}}'>{{status}}</option>
            {% endif %}
        {% endfor %}
    </select>

{% endmacro %}


