{% from 'generalMacros.html' import dapcommentmap %}

		<div class='comments'>
		<form class='form' role='form' method='post' action='addComment' id='addcomment_form'>
			<div class='modal fade commentmodal' id='commentform' tabindex='-1' role='dialog' aria-labeledby='commentlabel' aria-hidden='true'>
				<div class='modal-dialog modal-lg'>
					<div class='modal-content'>
						{# Comment header #}
						<div class='modal-header well'>	
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetCommentForm()"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Comment Form</h4>								
						</div>
						{# Comment body #}
						<div class='modal-body well'>
							<div class='well container-fluid' style='background-color:rgba(245,245,245,0.4)'>
								<div class='row'>
									<input class='hidden' id='cubepk' name='cubepk' value=''/>
									<input class='hidden' id='ifuname' name='ifuname' value=''/>
									{# Comment Categories #}
									<div class='col-md-4'>
										<label for='commentcat' class='control-label'>Category / Issues:</label>
										<select class='form-control' id='commentcat'>
											{% for catid, category in inspection.category|dictsort %}
												{% if loop.index0 == 0 %}
													<option id='{{catid}}' value='{{category.key}}' selected>{{category.category}}</option>
												{% else %}
													<option id='{{catid}}' value='{{category.key}}'>{{category.category}}</option>
												{% endif %}
											{% endfor %}
										</select>
										
										{# Sub-categories #}
										{% for catid,category in inspection.category|dictsort %}
											{% if category.subcats %}
											 <div class='subcats {{""|dapclass(catid|int)}}' id='subcats{{catid}}' style='display:none;'>
													<select class='form-control' id='subcats{{catid}}_select'>
											 		{% for subcat in category.subcats %}											 			
													 	<option id='{{catid}}_{{loop.index0+1}}' value='{{category.subkeys[loop.index0]}}'>{{subcat}}</option>
													{% endfor %}
													</select>
											 </div>
											{% endif %}
										{% endfor %}   
									</div>
									{# Comment Issues #}
									{# old issues#}
									{#
									<div class='col-md-8'>
										{% for catid, category in inspection.category|dictsort %}
											  <div class='catissues' id='catissue_{{category.key}}' style='display:{{"none" if loop.index0 != 0}};'>
												  {% for issid,issue in category.issues|dictsort %}
													  {% if loop.index0 % 3 == 0 %}<div class='row'>{% endif %}
													  <div class='col-md-4'>
													  <div class='checkbox'>
														  <label class='checkbox-inline'><input class='issues {{""|dapissuetype(issid|int)}}' id='issue{{issid}}' type='checkbox' value='issue{{issid}}'>{{issue}}</label>
													  </div>
													  </div>
													  {% if loop.index0 % 3 == 2 or loop.last %}</div>{% endif %}
												  {% endfor %}
											  </div>										  										
										{% endfor %}
									</div>	#}
									
									{# new test #}
									
									<div class='col-md-8'>
										{% for catid,category in inspection.category|dictsort %}										
											<div class='catissues' id='catissue_{{category.key}}' style='display:{{"none" if loop.index0 != 0}};'>
												<div class='row'>
													<div class='col-md-4'>
														{% if category.issues %} <label for='issuesp' class='control-label'>Issues:</label> {% endif %}
														{% if category.subcats %}
															<select class='selectpicker subcatsp' multiple id='subcat{{catid}}_{{category.subkeys[loop.index0]}}' data-selected-text-format='count'>
																{% for subcat in category.subcats %}
																	{% set outerloop = loop %}
																	<optgroup label='{{category.subcats[loop.index0]}}'>
																		{% for issid,issue in category.issues|dictsort %}
																			{% if (issid|int|issuesubcat) == outerloop.index %} <option id='issue{{issid}}' value='issue{{issid}}'>{{issue}}</option> {% endif %}
																		{% endfor %}
																	</optgroup>
																{% endfor %}
															</select>
														{% else %}
															{% if category.issues %}
															<select class="selectpicker issuesp" multiple id='issuesp{{catid}}' data-selected-text-format="count">
																{% for issid,issue in category.issues|dictsort %}
																	<option id='issue{{issid}}' value='issue{{issid}}'>{{issue}}</option>
																{% endfor %}
															</select>
															{% endif %}														
														{% endif %}
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
									
																													
								</div>
								{# Comment Comments #}
								{% for catid, category in inspection.category|dictsort %}
								<div class='catcomments' id='catcomment_{{category.key}}' style='display:{{"none" if loop.index0 != 0}};'>
									{# Previous comments from user #}
									<div class='row'>
										<div class='col-md-10'>
											<label id='userlabel_{{catid}}'>Previous Comments on {{category.category}} from User: </label>
											<select class='usercomments form-control' id='recentcomments_{{catid}}'>
											</select>
										</div>
									</div>
									{# Comment text box #}
									<div class='row'>
										<div class='col-md-10'>
											<label for='commentfield' class='control-label'>Comment:</label>
											<textarea class='form-control commentfield' rows='5' id='commentfield_{{catid}}' name='commentfield' placeholder='Comment for {{category.category}}'></textarea>
											<label id='commentsubmitted_{{catid}}' class='pull-right'></label>
										</div>
									</div>
								</div>
								{% endfor %}
								{# Comment Tags #}
								<div class='row' id='commenttags'>
									<div class='col-md-10'>
										<label for='tagfield'>Tags: <small>(Enter a word or phrase and press Return)</small></label>
										<div class='tag-list' id='tagfield'></div>
									</div>
								</div>
								{# DAP QA Maps #}
								<div class='row dapqacomms' id='dapcommentmap' style='padding-top:5px; display:none;'>
									<div class='col-md-10'>
									<label for='testbut'> DAP QA Map: </label>
									 {{dapcommentmap()}} 									
									</div>
								</div>
							</div>	
						</div> {# end modal body #}
						{# Comment Footer #}
						<div class='modal-footer well'>
							{# Feedback message and Comment submit button #}	
							<div class='row'>
								<div class='col-md-9' id='commentmessage'>
								</div>
								<div class='col-md-3'>
									<button type="button" onclick='submitcomment()' name="submitcomment_form" id='subcomment' class="btn btn-primary btn-lg" >Submit</button>
								</div>
							</div>								
						</div>
					</div>
				</div>
			</div>{# end comment modal #}
		</form>
		</div>