{# DAP QA Options Map #}
{% macro dapcattoggle(id,category) %}
	
	<div class='btn-group' id='qagroup_{{category.key}}'>
		{# Cube Type #}
		<div class='btn-group qabtns spbtns' id='cubegrp_{{category.key}}'>
			<button type='button' class='btn btn-primary dropdown-toggle' id='cubetypelist_{{category.key}}' data-toggle='dropdown' aria-expanded='false'>Cube <span class='caret'></span></button>
			<ul class='dropdown-menu qalist but1' role='menu' id='cubetypelist_{{category.key}}'>
				{% if category.key != 'radgrad' %} <li><a id='ston1'>STON-001</a></li> {% endif %}
				{% if category.key != 'radgrad' %} <li><a id='none2'>None-002</a></li> {% endif %}
				{% if category.key != 'maps' %} <li><a id='rad3'>Radial-003</a></li> {% endif %}
				{% if category.key != 'maps' %} <li><a id='rad4'>Radial-004</a></li> {% endif %}
				{% if category.key == 'spectra' %} <li><a id='all5'>All-005</a></li> {% endif %}
				{% if category.key == 'spectra' %} <li><a id='all6'>All-006</a></li> {% endif %}
				{% if category.key == 'spectra' %} <li><a id='all7'>All-007</a></li> {% endif %}
			</ul>
		</div>

		{# RSS Type #}		
		{% if category.key != 'maps' %}
			<div class='btn-group qabtns spbtns' id='rssgrp_{{category.key}}'>
				<button type='button' class='btn btn-primary dropdown-toggle' id='rsstypelist_{{category.key}}' data-toggle='dropdown' aria-expanded='false'>RSS <span class='caret'></span></button>
				<ul class='dropdown-menu qalist but1' role='menu' id='rsstypelist_{{category.key}}'>
					<li><a id='rad1'>Radial-001</a></li> 
					<li><a id='rad2'>Radial-002</a></li>
					{% if category.key == 'spectra' %} <li><a id='all3'>All-003</a></li> {% endif %}
					{% if category.key == 'spectra' %} <li><a id='all4'>All-004</a></li> {% endif %}
					{% if category.key == 'spectra' %} <li><a id='all5'>All-005</a></li> {% endif %}
				</ul>
			</div>		
		{% endif %}
				
	</div>
	<div class='qacomment' id='qacomment_{{category.key}}'>
	</div>			
{% endmacro %}

{# DAP Map List #}
{% macro dapmaplist() %}
	<label for='#dapmaplist'>Map List:</label>
	<select class='form-control daptoggle' multiple id='dapmapslist' size='5'>
		<option id='kin' val='kin' selected>Kinematic</option>
		<option id='snr' val='snr'>SNR</option>
		{#<option id='binnum' val='binnum'>Bin_Num</option>#}
		<option id='emfluxew' val='kin'>EMflux_EW</option>
		<option id='emfluxfb' val='kin'>EMflux_Fb</option>
	</select>
{% endmacro %}

{# DAP Spectra List #}
{% macro dapspectralist() %}
	<label for='#dapspectralist'>Spectra List:</label>
	<select class='form-control daptoggle' multiple id='dapspectralist' size='5'>
	</select>
{% endmacro %}

{# DAP Radial Gradient List #}
{% macro dapradgradlist() %}
	<label for='#dapradgradlist'>Radial Gradient List:</label>
	<select class='form-control daptoggle' multiple id='dapradgradlist'>
		<option id='emflux' val='emflux' selected>EMflux</option>
	</select>
{% endmacro %}

{# DAP Issue Selection #}
{% macro dapqaissue(catid,category,mapnum) %}

<div class='form-group'>
{% if category.issues %}
	<select class="selectpicker dapqaissuesp form-control" multiple id='dapqa_issue_{{category.key}}{{"_"+mapnum if mapnum else ""}}' data-selected-text-format="count" title='Issues' data-width='99.5%'>
		{% for issid,issue in category.issues|dictsort %}
			<option id='issue_{{issid}}{{"_"+mapnum if mapnum else ""}}' value='issue_{{issid}}{{"_"+mapnum if mapnum else ""}}' name='issue_{{issid}}{{"_"+mapnum if mapnum else ""}}'>{{issue}}</option>
		{% endfor %}
	</select>
{% endif %}
	<input class='form-control input-sm dapqacomments' type='text' name='dapqa_comment{{catid}}{{"_"+mapnum if mapnum else ""}}' id='dapqa_comment{{catid}}{{"_"+mapnum if mapnum else ""}}' placeholder='Comment' maxlength='256'/>

</div>

{% endmacro %}

{# DAP 6 Panel Maps #}
{% macro dapmap6panel(catid,category,ifu) %}

	{% set altimg = 'Map Image' if 'maps' in category.key else 'Rad. Grad. Image' if 'radgrad' in category.key else '' %}
	<div class='dapmappanel' id='dapmap6'>
	{% for i in range(6) %}
	{% if loop.index0 % 3 == 0 %}<div class='row'>{% endif %}
		<div class='col-md-4' id='{{category.key}}panel{{(i+1)|string}}'>
			<label id='{{category.key}}label{{(i+1)|string}}'>Map {{(i+1)|dapmaptype(category.key)}}</label>
			<a href='#' data-toggle='modal' data-target='#dapimgmodal_{{ifu}}' onclick='daploadmodal("{{category.key}}img{{(i+1)|string}}_{{ifu}}")'><img src="" class="img-responsive img-rounded" id='{{category.key}}img{{(i+1)|string}}_{{ifu}}' alt="{{altimg}}"></a>
			{{ dapqaissue(catid,category,(i+1)|string) }}
		</div>
	{% if loop.index0 % 3 == 2 or loop.last %}</div>{% endif %}
	{% endfor %}
	</div>

{% endmacro %}

{# DAP Map Single Panel #}
{% macro dapmapsinglepanel(catid,category,ifu) %}

	{% set altimg = 'Map Image' if 'maps' in category.key else 'Rad. Grad. Image' if 'radgrad' in category.key else '' %}
	<div class='dapmappanel' id='dapmapsingle'>
	<div class='row'>
		<div class='col-md-8' id='{{category.key}}panel1'>
			<label id='{{category.key}}label{{(i+1)|string}}'>Map {{1|dapmaptype(category.key)}}</label>
			<a href='#' data-toggle='modal' data-target='#dapimgmodal_{{ifu}}' onclick='daploadmodal("{{category.key}}img1_{{ifu}}")'><img src="" class="img-responsive img-rounded" id='{{category.key}}img1_{{ifu}}' alt="{{altimg}}"></a>
			{{ dapqaissue(catid,category,'1') }}
		</div>
	</div>
	</div>

{% endmacro %}

{# DAP Spectrum Panel #}
{% macro dapspectrumpanel(catid,category,ifu) %}

	{#{% for i in range(3) %}#}
		<div class='row'>
			<div class='col-md-12'>
				<label id='{{category.key}}label1'>Spectrum {{1}}</label>
				<a href='#' data-toggle='modal' data-target='#dapimgmodal_{{ifu}}' onclick='daploadmodal("{{category.key}}img1_{{ifu}}")'><img src="" class="img-responsive img-rounded" id='{{category.key}}img1_{{ifu}}' alt="Spectrum Image"></a>
				{{ dapqaissue(catid,category,'1') }}
			</div>
		</div>
	{#{% endfor %}#}

{% endmacro %}

{# DAP Image Modal #}
{% macro dapimagemodal(ifu) %}

	<div id='dapimgmodal_{{ifu}}' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='dapimglabel' aria-hidden='true'>
		<div class='modal-dialog modal-lg'>
			<div class='modal-content'>
				<div class='modal-header' id='dapimghead'>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id='dapimgtitle'></h4>
				</div>
				<div class='modal-body' id='dapimgbody'>
				</div>	
			</div>
		</div>
	</div> 
	
{% endmacro %}
