{% extends "layout.html" %}
{% set active_page = active_page|default("explore") %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/verticals.css')}}">
{% endblock head %}

{% block code %}

{% endblock code %}

{% block body %}

<div class='well'>
	<div class='row'>
		<div class='col-md-12'>
			<h2>Placeholder for MaNGA Dataset Exploration Page</h2> 
            <h4>note to self: this page designed to explore MaNGA dataset as a whole, by parameters and products</h4>
            <h4>explore visual options rather than standard tabular format to wade through data</h4>
		</div>
	</div>
</div>

{% endblock body %}