
{% from 'generalMacros.html' import versiontable %}

<footer>
	<nav class="navbar navbar-default ">
		<div class='row'>
			<div class="col-md-2 col-md-offset-1">
				<h5>Contacts: </h5>
				<div class='row'><a href="mailto:bcherin1@jhu.edu?subject=Marvin:" target="_top">Brian Cherinka</a></div>
				<div class='row'><a href="mailto:andrewsb@pitt.edu?subject=Marvin:" target="_top">Brett Andrews</a></div>
			</div>
			<div class="col-md-1">
				<h5>Other Pages: </h5>
				<div class='row'><a href='http://www.sdss.org/' target='_blank'>SDSS</a></div>
				<div class='row'><a href="http://skyserver.sdss.org/dr12/en/home.aspx" target="_blank">Skyserver</a></div>
				<div class='row'><a href='https://data.sdss.org/sas/mangawork/manga/spectro/redux/{{session['currentver']}}/', target='_blank'>SAS Redux</a></div>
				{#<div class='row'><a href='https://data.sdss.org/sas/mangawork/manga/spectro/analysis/{{session['currentver']}}/{{session['currentdapver']}}', target='_blank'>SAS Analysis</a></div>#}

			</div>
			<div class='col-md-2'>
				<h5>Version Info: </h5>
				<div class='row'>
					<button type="button" id='verspopover' data-trigger='hover' class="btn btn-primary" data-toggle="popover" title="Versions" data-content="{{versiontable(session['codeversions'])}}">Code Versions</button>
					{#{{versiontable(session['codeversions'])}}#}
				</div>
			</div>
		</div>
	</nav>

</footer>

