{# General Macros #}
{% from 'buildTable.html' import sastable %}

{# Drop-down download cube/rss button #}
{% macro dropdownload(id, target) %}

  <div class="btn-group" role="group">
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	  Download All ...
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" id='{{id}}' role="menu" >
	  <li><a id='cube' data-toggle='modal' data-target='#{{target}}' onclick='rsyncFiles()'>Cubes</a></li>
	  <li><a id='rss'  data-toggle='modal' data-target='#{{target}}' onclick='rsyncFiles()'>RSS</a></li>
	</ul>
  </div>	
				  
{% endmacro %}

{# Rsync Modal window #}
{% macro rsyncmodal() %}

	{# Rsync command modal #}
	<div id='rsynclink' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='rsynclabel' aria-hidden='true'>
		<div class='modal-dialog'>
			<div class='modal-content'>
				<div class='modal-header'>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Your Rsync Link</h4>
				</div>
				<div class='modal-body'>
					<input type='text' class='form-control' id='rsyncbox'/>
				</div>	
			</div>
		</div>
	</div> {# end rsync modal #}

{% endmacro %}

{% macro hline() %}

	<div class='row'>
		<div class='col-md-12'>
			<hr>
		</div>
	</div>
	
{% endmacro %}


{# Login Modal #}
{% macro login(fxn=None, modalid='loginform', formid='login_form') %}
	<div class='login'>
	<form class='form' role='form' method='post' action='login' id='{{formid}}'>
		<input class='hidden' id='fxn' name='fxn' value='{{fxn}}'/>
		<div class='modal fade loginmodal' id='{{modalid}}' tabindex='-1' role='dialog' aria-labeledby='loginlabel' aria-hidden='true'>
			<div class='modal-dialog'>
				<div class='modal-content'>	
					{# Header #}
					<div class='modal-header well'>	
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetLogin()"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Trac User Login </h4>								
					</div>
					{# Body #}
					<div class='modal-body well'>
						<div class='row'>
							<div class='col-md-10'>
								{# Username #}
								<div class='form-group'>
									<label for='username'>Username: </label>
									<input type='text' class='form-control input-sm' name='username' id='username' placeholder='Username' value="" id='username'/>
								</div>
								{# Password #}
								<div class='form-group'>
									<label for='password'>Password: </label>
									<input type='password' class='form-control input-sm' name='password' id='password' placeholder='Password' value="" id='password'/>
								</div>	
							</div>
						</div>
					</div>
					{# Footer #}
					<div class='modal-footer well'>
						{# Login message and Comment submit button #}	
						<div class='row'>
							<div class='col-md-9' id='loginmessage'>
								{#{% if not fxn %}<h4 class='alert alert-danger'>Input function must be specified for Login!</h4>{% endif %}#}
							</div>
							<div class='col-md-3'>
								{#{% if fxn %}#}
									<button type="button" onclick='login()' name="submitlogin_form" id='sublogin' class="btn btn-primary btn-lg" >Submit</button>
								{#{% endif %}#}
							</div>
						</div>								
					</div>						
				</div>
			</div>
		</div> {# end login modal #}
	</form>
	</div>
{% endmacro %}

{% macro panelitem(index,ifu,parentid,heading,body,off=False) %}
	<div class='panel panel-default'>
		<div class='panel-heading' role='tab' id='heading{{index}}_{{ifu}}'>
			<h4 class='panel-title'>
				<a data-toggle='collapse' data-parent='{{parentid}}' data-target='#collapse{{index}}_{{ifu}}' aria-expanded='{{"true" if not off else "false"}}' aria-controls='collapse{{index}}_{{ifu}}'>{{heading}}</a>
			</h4>
		</div>
		<div id="collapse{{index}}_{{ifu}}" class="panel-collapse collapse {{'in' if not off}}" role="tabpanel" aria-labelledby="heading{{index}}_{{ifu}}">
			  <div class="panel-body">
				{{body}}
			  </div>
		</div>
	</div>
{% endmacro %}

{% macro buttoncollapse(names,ifu,inspection,type=None) %}

	<div class='row' id='{{type}}buttonrow'>
		<div class='col-md-4'>
		{% for name in names %}
			<button class='btn btn-primary' data-toggle='collapse' data-target='#{{name}}_{{type}}collapse_{{ifu}}' aria-expanded='true' aria-controls='{{name}}_{{type}}collapse_{{ifu}}'>
			{{name|upper}} Comments</button>
		{% endfor %}
		</div>
	</div>

	{# Collapse Panels #}
	{% for name in names %}
		{{ collapsediv(name,name|makeID(type),ifu,inspection,type) }}
	{% endfor %}

{% endmacro %}

{% macro collapsediv(name,id,ifu,inspection,type) %}

	{% set cols,keys,comments = inspection|filterByName(name,ifu,type) %}
	
	<div class='collapse in' id='{{id}}_{{ifu}}'>
		<div class='row'>
			<div class='col-md-12'>
				{% if comments %}
				 <div class='table-responsive' id='{{name}}cubecomments_{{ifu}}'>
					{{sastable(cols, keys, comments, type='comment')}}
					{#{{sastable(['test','name','comment','modified'], ['test','name','comment','modified'], [{'test':1,'name':'Bob','comment':'hello','modified':1945}], type='comment')}}#}
				</div>
				{% else %}
					<h4> No {{name|upper if 'drp' in name else name|upper+' QA'}} comments found{{' for given search parameters.' if type =='search' else '.'}} </h4>
				{% endif %}
			</div>
		</div>
	</div>
	
{% endmacro %}

{% macro writefits(fxn) %}

	<div class='modal fade' id='fitsform' tabindex='-1' role='dialog' aria-labeledby='fitslabel' aria-hidden='true'>
		<div class='modal-dialog'>
			<div class='modal-content'>
				<div class='modal-header'>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Write table to FITS file</h4>							
				</div>
				<div class='modal-body'>
					<div class='row'>
						<div class='col-md-10'>
							<div class='form-group input-group'>
								<span class='input-group-addon'>Filename</span>
								<input type='text' class='form-control' placeholder='FITS name'  name='fitsname' id='fitsname'/>
								<input type='hidden' class='form-control' name='hiddendata' id='hiddendata'/>
								<span class='input-group-btn'>
									<button class='btn btn-primary' type='button' name='writefits' onclick='{{fxn}}'>Submit</button>
								</span>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-md-10'>
							<h4 id='fitsout'></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>{# end fitsform modal #}

{% endmacro %}

