{# General Macros #}

{# Drop-down download cube/rss button #}
{% macro dropdownload(id, target) %}

  <div class="btn-group" role="group">
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	  Download All ...
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" id='{{id}}' role="menu" >
	  <li><a id='cube' data-toggle='modal' data-target='#{{target}}' onclick='rsyncFiles()'>Cubes</a></li>
	  <li><a id='rss'  data-toggle='modal' data-target='#{{target}}' onclick='rsyncFiles()'>RSS</a></li>
	</ul>
  </div>	
				  
{% endmacro %}

{# Rsync Modal window #}
{% macro rsyncmodal() %}

	{# Rsync command modal #}
	<div id='rsynclink' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='rsynclabel' aria-hidden='true'>
		<div class='modal-dialog'>
			<div class='modal-content'>
				<div class='modal-header'>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Your Rsync Link</h4>
				</div>
				<div class='modal-body'>
					<input type='text' class='form-control' id='rsyncbox'/>
				</div>	
			</div>
		</div>
	</div> {# end rsync modal #}

{% endmacro %}

{% macro hline() %}

	<div class='row'>
		<div class='col-md-12'>
			<hr>
		</div>
	</div>
	
{% endmacro %}


{# Login Modal #}
{% macro login(fxn) %}
	<div class='login'>
	<form class='form' role='form' method='post' action='login' id='login_form'>
		<input class='hidden' id='fxn' value='{{fxn}}'/>
		<div class='modal fade loginmodal' id='loginform' tabindex='-1' role='dialog' aria-labeledby='loginlabel' aria-hidden='true'>
			<div class='modal-dialog'>
				<div class='modal-content'>	
					{# Header #}
					<div class='modal-header well'>	
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetLogin()"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Trac User Login </h4>								
					</div>
					{# Body #}
					<div class='modal-body well'>
						<div class='row'>
							<div class='col-md-10'>
								{# Username #}
								<div class='form-group'>
									<label for='username'>Username: </label>
									<input type='text' class='form-control input-sm' name='username' id='username' placeholder='Username' value="" id='username'/>
								</div>
								{# Password #}
								<div class='form-group'>
									<label for='password'>Password: </label>
									<input type='password' class='form-control input-sm' name='password' id='password' placeholder='Password' value="" id='password'/>
								</div>	
							</div>
						</div>
					</div>
					{# Footer #}
					<div class='modal-footer well'>
						{# Login message and Comment submit button #}	
						<div class='row'>
							<div class='col-md-9' id='loginmessage'>
								{% if not fxn %}<h4 class='alert alert-danger'>Input function must be specified for Login!</h4>{% endif %}
							</div>
							<div class='col-md-3'>
								{% if fxn %}
									<button type="button" onclick='login({{fxn}})' name="submitlogin_form" id='sublogin' class="btn btn-primary btn-lg" >Submit</button>
								{% endif %}
							</div>
						</div>								
					</div>						
				</div>
			</div>
		</div> {# end login modal #}
	</form>
	</div>
{% endmacro %}

{# DAP QA Comment-Map Map #}
{% macro dapcommentmap() %}

	<div class='btn-group' id='qagroup'>
		<div class='btn-group'>
			<button type='button' class='btn btn-primary dropdown-toggle' id='mapdownload' data-toggle='dropdown' aria-expanded='false'>QA Type <span class='caret'></span></button>
			<ul class='dropdown-menu but0' role='menu' id='qatypelist'>
				<li><a id='map'>Maps</a></li>
				<li><a id='spectra'>Spectra</a></li>
			</ul>					
		</div>

		<div class='btn-group qabtns' id='mapgrp' style='display:none;'>
			<button type='button' class='btn btn-primary dropdown-toggle' id='maplist' data-toggle='dropdown' aria-expanded='false'>Maps: <span class='caret'></span></button>
			<ul class='dropdown-menu qalist but1' role='menu' id='maplist'>
				<li><a id='none'>None</a></li>
				<li><a id='ston'>STON</a></li>
			</ul>
		</div>

		<div class='btn-group qabtns' id='spectragrp' style='display:none;'>
			<button type='button' class='btn btn-primary dropdown-toggle' id='spectralist' data-toggle='dropdown' aria-expanded='false'>Spectra: <span class='caret'></span></button>
			<ul class='dropdown-menu qalist but1' role='menu' id='spectralist'>
				<li><a id='cube'>Cube</a></li>
				<li><a id='rss'>RSS</a></li>
			</ul>
		</div>

		<div class='btn-group qabtns mapbtns' id='maptypegrp' style='display:none;'>
			<button type='button' class='btn btn-primary dropdown-toggle' id='maptypelist' data-toggle='dropdown' aria-expanded='false'>Map Type: <span class='caret'></span></button>
			<ul class='dropdown-menu qalist but2' role='menu' id='maptypelist'>
				<li><a id='bin_num'>Bin_Num</a></li>
				<li><a id='emflux'>EMflux</a></li>
				<li><a id='kin'>Kin</a></li>
				<li><a id='snr'>SNR</a></li>
			</ul>
		</div>	

		<div class='btn-group qabtns spbtns' id='spectratypegrp_cube' style='display:none;'>
			<button type='button' class='btn btn-primary dropdown-toggle' id='spectratypelist' data-toggle='dropdown' aria-expanded='false'>Cube Type: <span class='caret'></span></button>
			<ul class='dropdown-menu qalist but2' role='menu' id='spectratypelist'>
				<li><a id='ston1'>STON-001</a></li>
				<li><a id='none2'>None-002</a></li>
				<li><a id='rad3'>Radial-003</a></li>
				<li><a id='rad4'>Radial-004</a></li>
				<li><a id='all5'>All-005</a></li>
				<li><a id='all6'>All-006</a></li>
				<li><a id='all7'>All-007</a></li>
			</ul>
		</div>						

		<div class='btn-group qabtns spbtns' id='spectratypegrp_rss' style='display:none;'>
			<button type='button' class='btn btn-primary dropdown-toggle' id='spectratypelist' data-toggle='dropdown' aria-expanded='false'>RSS Type: <span class='caret'></span></button>
			<ul class='dropdown-menu qalist but2' role='menu' id='spectratypelist'>
				<li><a id='rad1'>Radial-001</a></li>
				<li><a id='rad2'>Radial-002</a></li>
				<li><a id='all3'>All-003</a></li>
				<li><a id='all4'>All-004</a></li>
				<li><a id='all5'>All-005</a></li>
			</ul>
		</div>	
		
		<input type='text' class='input-sm qabtns but3 spbtns' value='' name='specnum' style='display:none;' id='specnum' placeholder='Spectrum Number'/>				
		
	</div> 
	
	<div id='qacomment'>
	</div>
{% endmacro %}
