{% block code %}
    
    {#<script type="text/javascript" src="{{url_for('static',filename='js/header.js')}}"></script>#}
	<script type='text/javascript'>
        
        var header = {};
        $(function() {
            header = new marvin.Header({{session.vermode|tojson|safe}});
        });
	</script>
{% endblock code %}


<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('index_page.index')}}">Marvin</a>
        </div>

        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{{'active' if active_page=='current'}}"><a href="{{url_for('current_page.current')}}">Current Reduction Status</a></li>
                <li class="{{'active' if active_page=='search'}}"><a href="{{url_for('search_page.search')}}">Search</a></li>
                <li class="{{'active' if active_page=='explore'}}"><a href="{{url_for('explore_page.explore')}}">Explore</a></li>
                {% if 'collab' is active_feature %}<li class="{{'active' if active_page=='feedback'}}"><a href="{{url_for('feedback_page.feedback')}}">Feedback</a></li>{% endif %}
                {#<li class="{{'active' if active_page=='doc'}}"><a href="{{url_for('doc_page.doc')}}">Documentation</a></li>#}
            </ul>

            {# Marvin PlateId/MaNGAId Search #}
            <form class="navbar-form navbar-left navbar-input-group" role="form" id='headform' action="{{url_for('plate_page.navidselect')}}" method="post">
                <div class='form-group form-inline'>
                    <input class='form-control typeahead' type='text' name='plateid' placeholder='Plate ID' id='idtext' val='' autocomplete='off'/>
                    <select class='btn btn-primary form-control' id='idselect'>
                        <option id='plateid' val='plateid' {% if session['searchmode'] == 'plateid' %}selected{% endif %}>Get by Plate ID</option>
                        <option id='mangaid' val='mangaid' {% if session['searchmode'] == 'mangaid' %}selected{% endif %}>Get by Manga ID</option>
                    </select>
                </div>
            </form>

            {% if 'collab' is active_feature %}
            {# Marvin Version Control #}
            <form class='navbar-form navbar-left navbar-input-group' id='verform' role='form' action="{{url_for('index_page.setversion')}}" method="post">
				{# Toggle Version #}
				<div class="btn-group form-group" role="group">
					<button type="button" id='verbut' class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						Set Version By: {{session['vermode']}} <span class="caret"></span></button>
					<ul class="dropdown-menu" id='{{id}}' role="menu" >
					  <li><a id='mpl' onclick='header.toggleVersion("mpl")'>MPL</a></li>
					  <li><a id='drpdap' onclick='header.toggleVersion("drpdap")'>DRP/DAP</a></li>
					</ul>
				</div>	
				
				{# MPL Versions #}
				<div class='form-group vertype' id='bympl'>
					<select class='form-control input-sm verselecttype' id='mplver' name='mplver'>
						{% for ver in ['MPL-4','MPL-3','MPL-2','MPL-1'] %}
							{% if ver == session['currentmpl'] %} 
								<option id='{{ver}}' value='{{ver}}' selected>{{ver|getMPL}}</option>
							{% else %}
								<option id='{{ver}}' value='{{ver}}'>{{ver|getMPL}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				
				{# Custom Versions #}
				<div class='form-group vertype' id='bydrpdap' style='display:none;'>				
					<div class='form-group'>
						{# DRP Version #}
						<select class='form-control input-sm verselecttype' name='version' id='version'>
							{% for ver in session['versions'] %}
								{% if ver == session['currentver'] %} 
									<option id='{{ver}}' value='{{ver}}' selected>{{ver}}</option>
								{% else %}
									<option id='{{ver}}' value='{{ver}}'>{{ver}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					{# DAP Version #}
					<div class='form-group'>
						<select class='form-control input-sm verselecttype' name='dapversion' id='dapversion'>
							{% for ver in session['dapversions'] %}
								{% if ver == session['currentdapver'] %} 
									<option id='{{ver}}' value='{{ver}}' selected>{{ver}}</option>
								{% else %}
									<option id='{{ver}}' value='{{ver}}'>{{ver}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
            	</div>
            </form>
            {% endif %}

            {# Marvin Mode #}
            <form class='navbar-form navbar-right navbar-input-group' id='modeform' role='form' action="{{url_for('index_page.setmode')}}" method="post">
                <div id='marvinmode' class='form-group'>
                    <select class='form-control btn btn-primary input-sm' id='marvinmodeselect'>
                        <option id='dr13' value='dr13' {% if session['marvinmode'] == 'dr13' %}selected{% endif %} >DR13</option>
                        <option id='mangawork' value='mangawork' {% if session['marvinmode'] == 'mangawork' %}selected{% endif %}>mangawork</option>
                    </select>
                </div>
            </form>

            {% if 'dev' is active_feature %}
            {# Login / User Settings #}
            <form class='navbar-form navbar-right navbar-input-group' id='userform' role='form' method='post'>
                <div class='form-group'>
                    {% if session['ready'] %}
                        <button type='button' id='usersettings' class='btn btn-primary' aria-label='User Settings'><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                    {% else %}
                        <button type='button' class='btn btn-primary' id='userlogin'>Login</button>                        
                    {% endif %}
                </div>
            </form>
            {% endif %}

        </div>
    </div>
</nav>

