<!DOCTYPE html>
{% set active_page = active_page|default("index") %}

{#
Current Marvin Dependencies

Jquery
Jquery-actual
moment
validator
D3
Bootstrap
Bootstrap-Table
Bootstrap-Table-flatJSON
Bootstrap-Select
Bootstrap-Datetimepicker
Bootstrap-Tags
#}

<html lang="en">

<head>
	{# include css files #}
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{url_for('static',filename='css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static',filename='css/bootstrap/bootstrap-select.css')}}" rel="stylesheet">
	<link href="{{url_for('static',filename='css/bootstrap/bootstrap-table.css')}}" rel="stylesheet">
	<link href="{{url_for('static',filename='css/bootstrap/bootstrap-datetimepicker.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static',filename='css/bootstrap/bootstrap-tags.css')}}" rel="stylesheet">
	<link rel="shortcut icon" href="{{url_for('static',filename='images/marvin_favicon.ico')}}" type="image/x-icon" />
	{% block head %}{% endblock head %}
	
	{# include js files #}
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery/jquery-1.11.2.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery/jquery.actual.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap/bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap/bootstrap-select.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap/bootstrap-table.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap/bootstrap-table-flatJSON.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery/moment.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap/bootstrap-datetimepicker.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap/bootstrap-tags.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery/validator.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/tableMethods.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/utils.js')}}"></script>
	
	<script type="text/javascript" src="{{url_for('static',filename='js/d3/d3.min.js')}}"></script>
	<script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
	{% block code %}{% endblock code %}	
</head>

<body>

{% include 'header.html' %}

<div class="container-fluid" id="content">
	{% block body %}{% endblock body %}
</div>

{% include 'footer.html' %}

</body>
</html>