{% from 'buildTable.html' import sastable %}
{% extends "layout.html" %}
{% set active_page = active_page|default("plate") %}
{% from 'generalMacros.html' import dropdownload, rsyncmodal, hline, login, buttoncollapse %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
	<link type="text/css" href="{{url_for('static',filename='css/tabs.css')}}" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/verticals.css')}}">
    {#<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-magnify.css')}}">#}
{% endblock head %}

{% block code %}
{{js|safe}}
{#<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap-magnify.js')}}"></script>#}
<script type='text/javascript'>

	// Get IFU hash from page
	function getIFUHash() {
		var hash = window.location.hash;
		if (hash.search('comment') >= 0) {
			newhash = hash.slice(hash.search('_')).replace('_','#');
			return newhash;
		} else {
			return hash;
		}			
	}
	
    // Load ifu div element when image on page is clicked
	$(function(){
		$('.ifuims').on('click',function(){
			$('.galinfo').hide();
			var hrefid = $(this).attr('href');
			$(hrefid).fadeIn();
			renderTags(hrefid);
			loadTab(hrefid);
			//setDefault(hrefid.slice(hrefid.search('#')+1),'maps');
		});
	});
	
	// Load ifu div element if hash present when page loads
	$(function(){
		var hash = window.location.hash;
		var ifuhash = getIFUHash();
		var ifu = ifuhash.slice(ifuhash.search('#')+1);
		$(String(ifuhash)).fadeIn();	
		if (hash.search('comment') >= 0) $(String(hash)).fadeIn();
		renderTags(ifuhash);
		loadTab(ifuhash);
		//setDefault(ifu,'maps');
	});
	
	// Load ifu div element by left/right arrow key press
	$(function() {
		$(window).keyup(function(event) {
			var ifuhash = getIFUHash();
			var gals = $('.cubedetails');
			if (ifuhash.length > 0) {
				//shift+left arrow
				if (event.shiftKey && event.keyCode == 37) {
					$('.galinfo').hide();
					var newid = gals.find(ifuhash).prev('.galinfo').attr('id');
					var newhash = '#'+newid;					
					$(newhash).fadeIn();
					renderTags(newhash);
					loadTab(newhash);
					window.location.hash = (typeof newid !== 'undefined') ? newhash : '';
				}
				//shift+right arrow
				if (event.shiftKey && event.keyCode == 39) {
					$('.galinfo').hide();
					var newid = gals.find(ifuhash).next('.galinfo').attr('id');
					var newhash = '#'+newid;
					$(newhash).fadeIn();
					renderTags(newhash);
					loadTab(newhash);
					window.location.hash = (typeof newid !== 'undefined') ? newhash : '';
				}
			}
		});
	});
	
	// Render Tags in div
	function renderTags(ifuhash) {
		var ifu = ifuhash.slice(ifuhash.search('#')+1);
		var tagdiv = $('#cubetags_'+ifu);
		if (tagdiv.length > 0) {
			var cubetags = {{inspection.cubetags|safe}};
			var ifutags = cubetags[ifu];
			var tagbox = tagdiv.tags({
				tagData: ifutags,
				tagSize: 'sm',
				readOnly: true
			})
		}
	}
			
	// Plate design layout toggle	
	$(function(){
		$('#pdtoggle').on('click',function(){
			if ($(this).hasClass('active')){
				$('#platedesign').hide();
				$('#platedesign').empty();
			} else {
				$('#platedesign').show();
				$('#platedesign').html('<h3><small>Unfinished</small></h3>');
				loadPlateDesign();
			}
		});
	});

	// Toggle add comment login function
	$(function() {
		$('#addcommentbut').click(function() {
			var fxn = 'grabComments';
			$('#fxn').val(fxn);
		});
	});
	
	// Set the first tab to display in cube details
	function loadTab(ifuhref) {
		//$(ifuhref+' #cubetabs a:first').tab('show')
	}

</script>
<script type="text/javascript" src="{{url_for('static',filename='js/comments.js')}}"></script>
{#<script type="text/javascript" src="{{url_for('static',filename='js/dapqa_test.js')}}"></script>#}
<script type="text/javascript" src="{{url_for('static',filename='js/dapqa.js')}}"></script>
{% endblock code %}



{% block body %}

{% if plate and good %}
	<div class='well' style='background-color:rgba(245,245,245,0.4)'>
		<div class='well'>
			{# Some General Plate Info #}
			<div class='row'>
				<div class='col-md-3'>
					<h1>Plate: {{plate.id}} <small>Version: {{version}} </small></h1>
				</div>
				{# Rsync button and modal #}
				<div class='col-md-1'>
				  	{{dropdownload('platedl', 'rsynclink')}}			
				</div>
            	{{rsyncmodal()}}

				<div class='col-md-1'>
					<button type='button' class='btn btn-primary' id='pdtoggle' data-toggle='button' aria-pressed='false'>Toggle Design Layout</button>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-4'>
					<h1><small>add some general plate info here</small></h1>
					<table class='table table-condense'>
						<tbody>
							<tr><th>Label</th><td>{{plate.type}} Plate</td></tr>
							<tr><th>Plate Type</th><td>{{plate.platetype}}</td></tr>
							<tr><th>Survey Mode</th><td>{{plate.surveymode}}</td></tr>
							<tr><th>Date Observed</th><td>{{plate.dateobs}}</td></tr>
							<tr><th>RA,Dec</th><td>{{plate.ra}}, {{plate.dec}}</td></tr>
							<tr><th>Data Link</th><td><a target='_blank' data-toggle="tooltip" title="{{sasurl}}" href='{{sasurl}}'>SAS URL</a></td></tr>
						</tbody>
					</table>
				</div>
				<div class='col-md-4 col-md-offset-1'>
					<div id='platedesign'>
					</div>
				</div>				
			</div>
		</div>
		{# Row of all Galaxy Images for Plate #}
		<div class='well'>
			<div class='row'>
				<div class='col-md-12'>
					<h2>Galaxy Images <small>Click for more info</small></h2>
				</div>
				{% if images %}
					{% for image in images %}
						<div class="col-xs-6 col-md-1">
							<div class='caption'>
								<h4>{{((image|split('/'))[-1]|split('.'))[0]}}</h4>
							</div>					
							<a href="#{{((image|split('/'))[-1]|split('.'))[0]}}" class="thumbnail ifuims">
								<img class='img-responsive' src="{{image}}" alt="..." >
							</a>
						</div>
					{% endfor %}
				{% else %}
					<div class='col-md-12'><h1> No IFU images found! </h1></div>
				{% endif %}
  			</div>
  			<input class='hidden' id='inspectready' value='{{inspection.ready}}'/>
		</div>

		{# Drop-down DIV for each IFU #}
		<div class='cubedetails'>
		{% for cube in cubes %}
		<div class='well galinfo' id='{{cube.ifu.name}}' style='display:none;'>
			<div class='row'>
				{# Hidden input elements #}
				<input class='hidden' id='cubepk' name='cubepk' value='{{cube.pk}}'/>
				<input class='hidden' id='ifuname' name='ifuname' value='{{cube.ifu.name}}'/>
				{# Left-hand side column of info #}
				{#<div class='{{"col-md-3" if inspection.cubetags[cube.ifu.name] else "col-md-4"}}'>#}
				<div class='col-md-2'>
					<h3>MaNGA Id: {{cube.mangaid}}</h3>
					<img class='img-responsive' src="{{ifudict[cube.ifu.name]['image']}}" alt="..." >
					
					<div style='padding-top:5px;'>
						<div class='cubetags' id='cubetags_{{cube.ifu.name}}'></div>
					</div>
					
					<div id='galdetail' style='padding-top:22px;'>
						{% set hdr = cube.header_to_dict() %}
						<h5>IFU Design: {{cube.ifu.name}}</h5>
						<h5>MJD Reduced: {{hdr['MJDRED']}}</h5>
						<h5>RA, Dec: {{hdr['OBJRA']}}, {{hdr['OBJDEC']}}</h5>
					</div>
					
					<div class='btn-group-vertical'>
					<button type='button' class='btn btn-warning' id='addcommentbut' onclick='getComment({{cube.pk}}, {{cube.ifu.name}})'>Add Comment</button>
					<a href='#commenttable_{{cube.ifu.name}}' class='btn btn-success' id='showcomment'>Show Comments</a>
					<a href='{{cube.location}}' class='btn btn-primary' id='cubedl' download='{{cube.name}}'>Download Cube</a>
					<a href='{{cube.location|replace('CUBE','RSS')}}' class='btn btn-primary' id='rssdl' download='{{cube.name|replace('CUBE','RSS')}}'>Download RSS</a>
					<a href='http://skyserver.sdss.org/dr12/en/tools/chart/navi.aspx?ra={{cube.ra}}&dec={{cube.dec}}&opt=GS' class='btn btn-danger' id='gotocas' target='_blank'>Go to CAS</a>
					</div>
				</div>

				{#{% if inspection.cubetags[cube.ifu.name] %}
					<div class='col-md-1'>
						<label>Tags:</label>
						<div class='cubetags' id='cubetags_{{cube.ifu.name}}'></div>
					</div>
				{% endif %}#}
				

				{# Cube Tab Content #}
				<div class='col-md-10'>
					<ul class="nav nav-tabs" id='cubetabs'>
					  <li role="presentation" class="active"><a href="#samplepane_{{cube.ifu.name}}" data-toggle='tab' id='sampletab'>Sample Info</a></li>
					  <li role="presentation"><a href="#dapqapane_{{cube.ifu.name}}" data-toggle='tab' id='dapqatab'>DAP QA</a></li>
					</ul>
					<div class='tab-content'>
						{# Sample Parameters Pane #}
						<div class='tab-pane active' id='samplepane_{{cube.ifu.name}}'>				    
							<table class='table table-condensed' id='sampletable'>
								<thead>
									<tr>
										<th>Parameter</th><th>Value</th>
									</tr>
								</thead>
								<tbody>
									{% for key,val in ifudict[cube.ifu.name]|dictsort %}
										<tr>
											<th>{{key}}</th>
											{% if key != 'image' %} <td>{{val}}</td> {% else %} <td><a target='_blank' href='{{val}}'>{{val}}</a></td> {% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						
						{# DAP QA Plots Pane #}
						<div class='tab-pane dapqapanes' id='dapqapane_{{cube.ifu.name}}'>
							{% include 'dapqapanel.html' %}
						</div>
					</div>
				</div>	
			</div> {# end row #}
			
			{{hline()}}
			
			{# Comment Table #}
			<div class='comments' id='commenttable_{{cube.ifu.name}}'>
				<div class='row'>
					<div class='col-md-8'>
						<h4>Comments for IFU {{cube.ifu.name}}, Version DRP/DAP: {{version}}, {{dapversion}}</h4>
					</div>
					<div class='col-md-4'>
						<a href='#{{cube.ifu.name}}' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-chevron-up'></span></a>
					</div>
				</div>

				{# Comment Table Results #}
				{{ buttoncollapse(['drp','dap'],cube.ifu.name,inspection,type='comments') }}
														
			</div>

		</div>
		{% endfor %}
		</div>

		{# Comment Form #}
		{% include 'commentform.html' %}

		{# Login Modal #}
		{{login()}}

	</div>
{% elif not plate %}
	<div class='well'>
		<h1>No plate selected</h1>	
	</div>
{% elif plate and not good %}
	<div class='well'>
		<h1> Plate {{plate.id}} <small>(version: {{version}})</small> is not a valid plate! <h1>
	</div>
{% endif %}


{% endblock body %}