{% from 'buildTable.html' import sastable %}
{% extends "layout.html" %}
{% set active_page = active_page|default("plate") %}
{% from 'ifumacros.html' import ifupanel %}
{% from 'generalMacros.html' import dropdownload, rsyncmodal, hline, login, buttoncollapse %}


{% block head %}
    {#<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
    <link type="text/css" href="{{url_for('static',filename='css/tabs.css')}}" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/verticals.css')}}">#}
{% endblock head %}

{% block code %}
{{platedesignjs|safe}}
<script type="text/javascript" src="{{url_for('static',filename='js/dapqa.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/comments.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/ifu.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/plateinfo.js')}}"></script>
<script type='text/javascript'>
    // Load the plateinfo object when the page loads
    var ifu,plateinfo = {}; // global ifu
    $(function(){
        try {
            plateinfo = new Plateinfo('{{plate.id}}', $('.plateifu_images'), {{inspection.cubetags|tojson|safe}});
            plateinfo.loadIfu('{{ifuid}}');
        } catch (error) {
            Raven.captureException('Error loading plateinfo javascript object: '+error);            
        }

        // if ifu present, scroll to it
        if ($.isEmptyObject(ifu) == false) {
            ifu.scrollTo('top');
        }
    });
</script>
{% endblock code %}

{% block body %}

{% if plate and good %}
    <div class='well' style='background-color:rgba(245,245,245,0.4)'>
        <div class='well plateinfo' id={{plate.id}}+{{version}}>
            {# Some General Plate Info #}
            <div class='row'>
                <div class='col-md-3'>
                    <h1>Plate: {{plate.id}} <small>Version: {{version}} </small></h1>
                </div>
                {# Rsync button and modal #}
                <div class='col-md-1'>
                    {{dropdownload('platedl', 'rsynclink')}}            
                </div>
                {{rsyncmodal()}}

                <div class='col-md-1'>
                    <button type='button' class='btn btn-primary' id='pdtoggle' data-toggle='button' aria-pressed='false'>Toggle Design Layout</button>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-4'>
                    <h1><small>add some general plate info here</small></h1>
                    <table class='table table-condense'>
                        <tbody>
                            <tr><th>Label</th><td>{{plate.type}} Plate</td></tr>
                            <tr><th>Plate Type</th><td>{{plate.platetype}}</td></tr>
                            <tr><th>Survey Mode</th><td>{{plate.surveymode}}</td></tr>
                            <tr><th>Date Observed</th><td>{{plate.dateobs}}</td></tr>
                            <tr><th>RA,Dec</th><td>{{plate.ra}}, {{plate.dec}}</td></tr>
                            <tr><th>Data Link</th><td><a target='_blank' data-toggle="tooltip" title="{{sasurl}}" href='{{sasurl}}'>SAS URL</a></td></tr>
                        </tbody>
                    </table>
                </div>
                <div class='col-md-4 col-md-offset-1'>
                    <div id='platedesign'>
                    </div>
                </div>              
            </div>
        </div>
        {# Row of all Galaxy Images for Plate #}
        <div class='well plateifu_images'>
            <div class='row'>
                <div class='col-md-12'>
                    <h2>Galaxy Images <small>Click for more info</small></h2>
                </div>
                {% if images %}
                    {% for image in images %}
                        <div class="col-xs-6 col-md-1">
                            <div class='caption'>
                                <h4>{{((image|split('/'))[-1]|split('.'))[0]}}</h4>
                            </div>                  
                            {#<img class='img-responsive' src="{{image}}" alt="Image" onclick='plateinfo.loadIfu({{((image|split('/'))[-1]|split('.'))[0]}})'>#}
                            <a class="thumbnail ifuims" href="{{url_for('plate_page.plate',plateid=plate.id,ifuid=((image|split('/'))[-1]|split('.'))[0])}}"><img class='img-responsive' src="{{image}}" alt="Image"></a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class='col-md-12'><h1> No IFU images found! </h1></div>
                {% endif %}
            </div>
            <input class='hidden' id='inspectready' value='{{inspection.ready}}'/>
        </div>

        {# Drop-down DIV for each IFU #}
        <div class='cubedetails'>
            {% if ifuid %} {{ifupanel(cube,ifudict[cube.ifu.name],inspection,version,dapversion,display='block')}} {% endif %}
        </div>

        {# Comment Form #}
        {% include 'commentform.html' %}

        {# Login Modal #}
        {{login()}}

    </div>
{% elif not plate %}
    {% if not mangaid %}
        <div class='well'>
            <h1>No plate specified. Try again ... </h1>  
        </div>
    {% else %}
        <div class='well'>
            <h1>No MaNGA-ID for selected data version</h1>  
        </div>
    {% endif %}
{% elif plate and not good %}
    <div class='well'>
        <h1> Plate {{plate.id}} <small>(version: {{version}})</small> is not a valid plate! <h1>
    </div>
{% endif %}


{% endblock body %}