{% from 'buildTable.html' import sastable %}
{% from 'searchmacros.html' import dapsearchrow,directsql,dapqatest,byfile %}
{% from 'generalMacros.html' import dropdownload, rsyncmodal,buttoncollapse,writefits %}
{% extends "layout.html" %}
{% set active_page = active_page|default("search") %}

{% block head %}
    <link type="text/css" href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet"> 
    <link type="text/css" href="{{url_for('static',filename='css/tabs.css')}}" rel="stylesheet"> 
{% endblock head %}

{% block code %}
<script type="text/javascript" src="{{url_for('static',filename='js/search.js')}}"></script>
<script type='text/javascript'>
    
    var search = {};     
    $(function() {
	    // Enable tool-tips, date-time and select pickers
		utils.initToolTips();
		utils.initPopOvers();
		utils.initDateTimePicker();
		utils.enableSelectPicker();
		// instantiate search object
		search = new Search({{nsamagids|tojson|safe}});
	});
</script>
{% endblock code %}

{% block body %}

<div class='well'>
	<div class='row'>
		  <div class="tabbable tabs-left">
		  	{# List of Tabs #}
			<ul class="nav nav-tabs">
			  <li class="{{'active' if activeform == 'dosearch'}}"><a href="#guidedsearch" id='guidetab' data-toggle="tab">Guided Search</a></li>
			  {% if 'collab' is active_feature %}
			  <li class="{{'active' if activeform == 'dosql'}}"><a href="#directsql" id='directtab' data-toggle="tab">Direct SQL</a></li>
			  <li class="{{'active' if activeform == 'docomm'}}"><a href="#comments" id='commenttab' data-toggle="tab">Comments</a></li>
			  {% endif %}
			  {% if 'dev' is active_feature %}
			  <li class="{{'active' if activeform == 'dofile'}}"><a href="#byfile" id='filetab' data-toggle="tab">By File</a></li>
			  {% endif %}
			</ul>
			{# TAB CONTENT #}
			<div class="tab-content">
			
				{# Guided Search Tab #}
				<div class="tab-pane {{'active' if activeform =='dosearch'}}" id="guidedsearch">
					<div class='row'>
						<div class='col-md-2 col-md-offset-4' style='text-align: center;'>
							<span><h3> Search Cubes: </h3></span>
						</div>
					</div>			
					<form class='form' id='searchform' role='form' action="{{url_for('search_page.search')}}" method='post' data-toggle='validator'>
						<div class='row'>
							{# Column 0 #}
							<div class='col-md-2 col-md-offset-2'>
								{# Search by #}
								<div class='form-group'>
									<label for='searchon' class='control-label'>Search by:</label>
									<select class='form-control' id='searchon' placeholder='Search'>
										<option value='plate' selected>Plate</option>
										<option value='mjd'>MJD</option>
										<option value='mangaid'>MaNGA-ID</option>
										<option value='radec'>RA,Dec</option>
									</select>
								</div>
								{# Set Defaults #}
								<div class='form-group'>
									<label for='setdefaults' class='control-label'>Set Defaults:</label>

									<select class="selectpicker defsp" multiple id='defaults' data-selected-text-format="count" title='Any'>
										{% for defid,default in defaults|dictsort %}
											{% if defid in session['defaults'] %}
											<option id='def{{defid}}' value='def{{defid}}' selected>{{default}}</option>
											{% else %}
											<option id='def{{defid}}' value='def{{defid}}'>{{default}}</option>
											{% endif %}
										{% endfor %}
									</select>
									<input class='hidden' name='defaultids' id='defaultids' values=''/>

								</div>
							</div>
							{# Column 1 #}
							<div class='col-md-2 search' id='byplate'>
								{# Min PlateID #}
								<div class='form-group'>
									<label for='minplate'>Minimum Plate ID</label>
									<input type='text' class='form-control input-sm' pattern='([0-9])+' data-error='Only numeric characters allowed.' name='minplate' placeholder="{{'PlateID'|filterForm('minplate',form)}}" value="{{''|filterForm('minplate',form)}}" id='minplate'/>
									<span class="help-block with-errors">
								</div>
								{# Max PlateID #}
								<div class='form-group'>
									<label for='maxplate'>Maximum Plate ID</label>
									<input type='text' class='form-control input-sm' pattern='([0-9])+' data-error='Only numeric characters allowed.' name='maxplate' placeholder="{{'PlateID'|filterForm('maxplate',form)}}" value="{{''|filterForm('maxplate',form)}}" id='maxplate'/>
									<span class="help-block with-errors">
								</div>
							</div>
							{# hidden MJD column 1 #}
							<div class='col-md-2 search' id='bymjd' style='display:none;'>
								{# Min MJD #}
								<div class='form-group'>
									<label for='minmjd'>Minimum MJD</label>
									<input type='text' class='form-control input-sm' pattern='([0-9])+' data-error='Only numeric characters allowed.' name='minmjd' placeholder="{{'MJD'|filterForm('minmjd',form)}}" value="{{''|filterForm('minmjd',form)}}" id='minmjd'/>
									<span class="help-block with-errors">
								</div>
								{# Max MJD #}
								<div class='form-group'>
									<label for='maxmjd'>Maximum MJD</label>
									<input type='text' class='form-control input-sm' pattern='([0-9])+' data-error='Only numeric characters allowed.' name='maxmjd' placeholder="{{'MJD'|filterForm('maxmjd',form)}}" value="{{''|filterForm('maxmjd',form)}}" id='maxmjd'/>
									<span class="help-block with-errors">
								</div>
							</div>
							{# hidden RA,Dec column 1 #}
							<div class='col-md-2 search' id='byradec' style='display:none;'>
								<div class='form-group'>
									<label for='ra'>RA</label>
									<input type='text' class='form-control input-sm' pattern='([0-9,. ])+' data-error='Only numeric characters allowed.' name='ra' placeholder="{{'RA'|filterForm('ra',form)}}" value="{{''|filterForm('ra',form)}}" id='ra'/>
									<span class="help-block with-errors">
								</div>
								<div class='form-group'>
									<label for='dec'>Dec</label>
									<input type='text' class='form-control input-sm' pattern='([0-9,. ])+' data-error='Only numeric characters allowed.' name='dec' placeholder="{{'Dec'|filterForm('dec',form)}}" value="{{''|filterForm('dec',form)}}" id='dec'/>
									<span class="help-block with-errors">
								</div>
								<div class='form-group'>
									<div class='input-group'>
										<div class='input-group-btn'>
											<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Mode <span class="caret"></span></button>
											<ul class="dropdown-menu" role="menu" id='radecmode'>
											  <li data-toggle='tooltip' data-placement='left' title='By radius: default is 1 deg'><a id='cone'>Cone</a></li>
											  <li data-toggle='tooltip' data-placement='left' title='By area: e.g. ra: 229,230; dec:40,43'><a id='between'>Between</a></li>
											</ul>											
										</div>
										{% if form['radecmode'] == 'between' %}
											<input class='form-control input-sm' name='searchrad' id='radectext' placeholder='Between mode' value='' type='text' disabled/>
											<input class='hidden' name='radecmode' id='radechidden' value='between'/>										
										{% else %}
											<input class='form-control input-sm' name='searchrad' pattern='([0-9])+' data-error='Only numeric characters allowed.' id='radectext' placeholder='Cone: input radius [deg]' value="{{''|filterForm('searchrad',form)}}" type='text' />
											<input class='hidden' name='radecmode' id='radechidden' value='cone'/>
										{% endif %}	
									</div>
									<span class="help-block with-errors">
								</div>
							</div>
							{# hidden MaNGA-ID column 1 #}
							<div class='col-md-2 search' id='bymangaid' style='display:none;'>
								{# MaNGA-ID #}
								<div class='form-group'>
									<label for='mangaid'>MaNGA-ID</label>
									<input type='text' class='form-control input-sm' pattern='([0-9-])+' data-error='Only numeric characters allowed.' name='mangaid' placeholder="{{'MaNGA-ID'|filterForm('mangaid',form)}}" value="{{''|filterForm('mangaid',form)}}" id='mangaid'/>
									<span class="help-block with-errors">
								</div>
							</div>									
							{# Column 2 #}
							<div class='col-md-2'>
								{# Plate type #}
								<div class='form-group'>
									<label for='type'>Plate Type</label>
									<select class='form-control input-sm' name='type' id='type'>
										{% for type in types %}
										{% if type==form['type'] %}
											<option id='{{type}}' value='{{type}}' selected>{{type|title|replace('Anc','Ancillary')}}</option>
										{% else %}
											<option id='{{type}}' value='{{type}}'>{{type|title|replace('Anc','Ancillary')}}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
								{# IFU Type #}
								<div class='form-group'>
									<label for='ifu'>IFU Type</label>
									<select class='form-control input-sm' id='ifu' name='ifu' placeholder='Any'>
										{% for ifu in ['Any']+ifulist %}
										{% if ifu|string==form['ifu'] %}
											<option id='{{ifu}}' value='{{ifu}}' selected>{{ifu}}</option>
										{% else %}
											<option id='{{ifu}}' value='{{ifu}}'>{{ifu}}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							{# Column 3 #}
							<div class='col-md-2'>
								{# Tag #}
								<div class='form-group'>
									<label for='tag'>DRP Version</label>
									<select class='form-control input-sm' id='tag' name='tag' placeholder='Any'>
										{% for ver in versions+['Any'] %}
										 {% if form %}
										 {% if ver==form['tag'] %} <option id='{{ver}}' value='{{ver}}' selected>{{ver|getMPL}}</option> {% else %}
											<option id='{{ver}}' value='{{ver}}'>{{ver|getMPL}}</option> {% endif %}
										{% else %}
										{% if ver==current %} <option id='{{ver}}' value='{{ver}}' selected>{{ver|getMPL}}</option> {% else %}
											<option id='{{ver}}' value='{{ver}}'>{{ver|getMPL}}</option> {% endif %}
										{% endif %}
										{% endfor %}
									</select>
								</div>
								{# NSA Info #}
								<div class='form-group'>
									<label for='nsa'>NSA Info</label>
									<div class='input-group'>
									    {% set mag = ['f','n','u','g','r','i','z'] %}
										<div class='input-group-btn'>
											<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Param <span class="caret"></span></button>
											<ul class="dropdown-menu" role="menu" id='nsainfo'>
											  {% for row in nsalist %}
											  	<li><a id='nsa{{row["id"]}}'>{{row['name']}}</a></li>
											  {% endfor %}
											</ul>											
										</div>
										{% for row in nsalist %}
										    {% set outer_loop = loop %}
											{% if loop.index0 == 0 %}
												<div class='nsa' id='bynsa{{row["id"]}}' data-toggle='tooltip' data-placement='top' title="{{''|nsatip(row['id'])}}"><input class='form-control input-sm' name='nsatext' id='nsa{{row["id"]}}' placeholder='{{row["name"]}}' value="{{''|getNSAval(loop.index,form=form,magids=nsamagids)}}" type='text' pattern='([0-9 .,-<>!=])+' data-error='Only numeric characters allowed.'/></div>
											{% else %}	
												{% if loop.index in nsamagids %}
													{% for m in mag %}
														<div class='nsa nsaband{{m}}' id='bynsa{{row["id"]}}{{m}}' style='display:none;'  data-toggle='tooltip' data-placement='top' title="{{''|nsatip(row['id'])}}"><input class='form-control input-sm' name='nsatext' id='nsa{{row["id"]}}{{m}}' placeholder='{{row["name"]}}_{{m}}' value="{{''|getNSAval(outer_loop.index,mag=m,form=form,magids=nsamagids)}}" type='text'/></div>
													{% endfor %}
												{% else %}
													<div class='nsa' id='bynsa{{row["id"]}}' style='display:none;'  data-toggle='tooltip' data-placement='top' title="{{''|nsatip(row['id'])}}"><input class='form-control input-sm' name='nsatext' id='nsa{{row["id"]}}' placeholder='{{row["name"]}}' value="{{''|getNSAval(loop.index,form=form,magids=nsamagids)}}" type='text'/></div>
												{% endif %}
											{% endif %}	
										{% endfor %}
										
										<div class='input-group-btn'>
											<button style='display:none;' type="button" class="btn btn-default btn-sm dropdown-toggle" id="nsabandbutton" data-toggle="dropdown" aria-expanded="false">Band <span class="caret"></span></button>
											<ul class="dropdown-menu" role="menu" id='nsaband'>
											  {% for m in mag %}
												<li><a id='nsaband{{m}}'>{{m}}</a></li>
											  {% endfor %}
											</ul>											
										</div>											
										
									</div>
									<span class="help-block with-errors">									
								</div>
							</div>
							{% if inspection.alltags %}
								{# Column 4 #}
								<div class='col-md-2'>
									{# Cube Tags #}
									<div class='form-group'>
										<label for='tags'>Cube Tags</label><br/>
										<select class="selectpicker tagsp" multiple id='tags' data-selected-text-format="count" title='Any'>
											{% for tagid,tag in inspection.alltags|dictsort(false,'value') %}
												{% if 'tag'+tagid|string in form['tagids'] %}
												<option id='tag{{tagid}}' value='tag{{tagid}}' selected>{{tag}}</option>
												{% else %}
												<option id='tag{{tagid}}' value='tag{{tagid}}'>{{tag}}</option>
												{% endif %}
											{% endfor %}
										</select>
										<input class='hidden' name='tagids' id='tagids' values=''/>
									</div>							
								</div>
							{% endif %}							
							<div class="row">
								{# Form Submit Buttons #} 
								<div class="col-md-12 col-md-offset-5">
									<input type="submit" name="search_form" value="Search" class="btn btn-primary btn-lg"/>
									<button type="button" onClick='search.getSQL()' name="sql_form" value="sql" class="btn btn-primary btn-lg" data-toggle='modal' data-target='#sqlform'>See SQL</button>
								</div>
								{# SQL Form Modal #}
								<div id='sqlform' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='sqllabel' aria-hidden='true'>
									<div class='modal-dialog'>
										<div class='modal-content'>
											<div class='modal-header'>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title">Your query in SQL</h4>
											</div>
											<div class='modal-body'>
												<div class='panel panel-default'>
													<div class='panel-heading'><h3 class='panel-title'>SQLAlchemy</h3></div>
													<div class='panel-body' id='sql' style="word-break:break-all; whitespace:normal;">
													</div>
												</div>
												<div class='panel panel-default'>
													<div class='panel-heading'><h3 class='panel-title'>Raw SQL</h3></div>
													<div class='panel-body' id='rawsql'>
													</div>
												</div>            		
											</div>	
										</div>
									</div>
								</div> {# end sql modal #}
							</div>								
						</div>
					</form>
				</div>
				
				{% if 'collab' is active_feature %}
				{# Direct SQL Tab #}
				<div class="tab-pane {{'active' if activeform == 'dosql'}}" id="directsql">
					{{ directsql(form) }}			
				</div>
				
				{# Comment Search #}
				<div class="tab-pane {{'active' if activeform == 'docomm'}}" id='comments'>
					<div class='row'>
						<div class='col-md-2 col-md-offset-4' style='text-align: center;'>
							<span><h3> Search Comments: </h3></span>
						</div>
					</div>
					<form class='form' role='form' action="{{url_for('search_page.search')}}" method='post' id='commentform'>
						<div class='row'>
							{# Column 1 #}
							<div class='col-md-2 col-md-offset-3 comment' id='commentcol1'>
								{# Member #}
								<div class='form-group'>
									<label for='user' data-toggle='tooltip' data-placement='left' title='Firstname, Lastname, or Username'>Member</label>
									<input type='text' class='form-control input-sm' name='user' placeholder="Firstname, Lastname, or Username" value="{{''|filterForm('user',form)}}" id='user'/>
								</div>
								{# Keyword #}
								<div class='form-group'>
									<label for='keyword' data-toggle='tooltip' data-placement='left' title='Contained in comment'>Word or Phrase</label>
									<input type='text' class='form-control input-sm' name='keyword' placeholder="Contained in comment" value="{{''|filterForm('keyword',form)}}" id='keyword'/>
								</div>
							</div>
							{# Column 2 #}
							<div class='col-md-2 comment' id='commentcol2'>
								{# Date #}
								<div class='form-group'>
                                    <label for='date' data-toggle='tooltip' data-placement='top' title='Before/After yyyy-mm-dd'>Date</label>
									<div class='input-group date' id='datetimepicker'>
										<div class='input-group-btn'>
											<button type="button" class="btn btn-default btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off" id='datetoggle' data-complete-text='After'>Before</button>
										</div>	
										<input type='text' class="form-control input-sm" name='date' placeholder="yyyy-mm-dd" value="{{''|filterForm('date',form)}}" id='date'/>
										<span class="input-group-addon datepickerbutton">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
										
									</div>
									<input class='hidden' name='datehide' id='datehide' value='before'/>	
								</div>							
								{# Tag #}
								<div class='form-group'>
									<label for='tag'>DRP Version</label>
									<select class='form-control input-sm' id='commtag' name='tag' placeholder='Any'>
										{% for ver in versions+['Any'] %}
										 {% if form %}
										 {% if ver==form['tag'] %} <option id='{{ver}}' value='{{ver}}' selected>{{ver|getMPL}}</option> {% else %}
											<option id='{{ver}}' value='{{ver}}'>{{ver|getMPL}}</option> {% endif %}
										{% else %}
										{% if ver=='Any' %} <option id='{{ver}}' value='{{ver}}' selected>{{ver|getMPL}}</option> {% else %}
											<option id='{{ver}}' value='{{ver}}'>{{ver|getMPL}}</option> {% endif %}
										{% endif %}
										{% endfor %}
									</select>
								</div>

							</div>							
							{# Column 3 #}
							<div class='col-md-2'>
								{# Category #}
								<div class='form-group'>
									<label for='cat'>DRP Category</label>									
									<select class='form-control input-sm' name='cat' id='cat'>
										<option id='any' value='any' selected>Any</option>
                                        {% for catid, category in inspection.category|dictsort %}
											{% if catid == form['cat'] %}
												<option id='{{loop.index0}}' value='{{catid}}' selected>{{category.category}}</option>
											{% else %}
												<option id='{{loop.index0}}' value='{{catid}}'>{{category.category}}</option>
											{% endif %}
										{% endfor %}
									</select> 
								</div>
								{# Issue #}
								<div class='form-group'>
									<label for='issue'>DRP Issues</label><br/>
									<select class="selectpicker issuesp" multiple id='drpissue' data-selected-text-format="count" title='Any' data-width='99%'>
                                        {% for catid, category in inspection.category|dictsort %}
                                        {% for issid,issue in category.issues|dictsort %}
											{% if 'issue'+issid|string in form['issues'] %}
											<option id='issue{{issid}}' value='issue{{issid}}' selected>{{issue}}</option>
											{% else %}
											<option id='issue{{issid}}' value='issue{{issid}}'>{{issue}}</option>
											{% endif %}
										{% endfor %}
										{% endfor %}
									</select>
									<input class='hidden' name='issues' id='issues' values=''/>
								</div>
							</div>				
						</div> {# end first row #}
						
						{# DAP QA Comment Row #}
						{{ dapsearchrow(dapversions,form,inspection) }}
						
						{# Form Submit Buttons #} 
						<div class="row">
							<div class="col-md-12 col-md-offset-5">
								<input type="submit" name="comment_form" value="Search" class="btn btn-primary btn-lg"/>
								<button type='button' name='resetcomment' class='btn btn-primary btn-lg' onclick='search.resetComments()'>Reset</button>
							</div>
						</div>
					</form> {# end comment form #}
				</div> {# end comment tab #}
				{% endif %}
				
				{% if dev is active_feature %}
				{# Search by File Upload #}
				<div class="tab-pane {{'active' if activeform == 'dofile'}}" id='byfile'>
					{{ byfile(uploadtypes, form) }}					
				</div>
				{% endif %}

			</div> {# end tab content #}
		  </div> {# end tabs #}
	</div>  {# end outer row #}    
</div> {# end well #}

{# Search Results #}
{% if cubes %}
	<div class='well' id='results'>
		<div class='row'>
			<div class='col-md-2'>
				<h4> Results: Found {{cubes|count}} {{'cube' if cubes|count == 1 else 'cubes'}}</h4>
			</div>
		</div>
		{# Form Table - form is needed to send data to write table as fits (writeFits button) #}
		<form class='form' role='form' method='post' action='{{url_for("search_page.writeFits")}}' id='sastableform'>
			{# write FITS pop-up modal, see buttons in table macro #}
			{{ writefits('search.submitTableForm()') }}
			
		{# Custom Toolbar for table #}	
		<div id='toolbar'>
			<button id="delete" class="btn btn-danger" type='button' onclick='tm.deleteRows()'>Delete Rows</button>
			<button class='btn btn-primary' type='button' data-toggle='modal' data-target='#fitsform'>Write FITS</button>		
			{{dropdownload('platedl', 'rsynclink')}}
		</div>
        {{rsyncmodal()}}

		{# Actual table of results #}
		<div class='row'>
			<div class='col-md-12'>
                <div class='table-responsive' id='platetable'>
                    {{sastable(cols, keys, cubetable, flags, stage='3d', type='data', toolbar='#toolbar')}}
                </div>
			</div>
		</div>

		</form>		
	</div>
{% else %}
	{% if dosearch or dosql or docomm or dofile %}
		<div class='well' id='results'>
			<div class='row'>
				<div class='col-md-12'>
					{% if dosql and not goodsql %}
						<h3> Syntax error with SQL query.  Check and try again! </h3>
					{% elif not cubes and not docomm %}
						<h3> No cubes found with given search parameters! </h3>
					{% elif docomm %}
						{{ buttoncollapse(['drp','dap'],'',inspection,type='search') }}
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endif %}


{% endblock body %}