{% from 'buildTable.html' import sastable %}
{% extends "layout.html" %}
{% set active_page = active_page|default("plate") %}
{% from 'ifumacros.html' import ifupanel %}
{% from 'generalMacros.html' import dropdownload, rsyncmodal, hline, login, buttoncollapse %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
    <link type="text/css" href="{{url_for('static',filename='css/tabs.css')}}" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/verticals.css')}}">
{% endblock head %}

{% block code %}
<script type="text/javascript" src="{{url_for('static',filename='js/dapqa.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/comments.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/ifu.js')}}"></script>
<script type='text/javascript'>
    var ifu = {};
    // load the IFU object
    $(function() {
        var ifuhash = '#'+$('.galinfo').attr('id');
        var ifuid = $('.galinfo').attr('id');
        var allcubetags = {{inspection.cubetags|safe}};
        ifu = new Ifu(ifuid);
        ifu.showCubeTags(allcubetags[ifuid]);
        //ifu.startAladin({{ifudict[cube.ifu.name]['target']|tojson|safe}}, {{ifudict[cube.ifu.name]['coords']|tojson|safe}});
    });
</script>
{% endblock code %}

{% block body %}

{# test line #}
{# <h4>MaNGA-ID: {{mangaid}}, {{version}}, {{dapversion}}, {{plate}}, {{name}} </h4> #}

<input class='hidden' id='inspectready' value='{{inspection.ready}}'/>

{% if cube %}

    {{ ifupanel(cube,ifudict[cube.ifu.name],inspection,version,dapversion,display='block') }}

    {# Comment Form #}
    {% include 'commentform.html' %}

    {# Login Modal #}
    {{login()}}

{% else %}
    <h4>No cube found for MaNGA-ID: {{mangaid}} <small>(version: {{version}})</small></h4>
{% endif %}

{% endblock body %}
