

<div class="container-fluid" id="footer-content">

    <footer>
        <nav class="navbar navbar-default">
            <div class='row'>
                <div class="col-md-2 col-md-offset-1">
                    <h5>Contacts: </h5>
                    <div class='row'><a href="mailto:manga-marvin@sdss.org?subject=Marvin:" target="_top">MaNGA Marvin List</a></div>
                    <div class='row'><a href="mailto:bcherin1@jhu.edu?subject=Marvin:" target="_top">Brian Cherinka</a></div>
                    <div class='row'><a href="mailto:andrewsb@pitt.edu?subject=Marvin:" target="_top">Brett Andrews</a></div>
                    <div class='row'><a href="mailto:gallegoj@uw.edu?subject=Marvin:" target="_top">José Sánchez-Gallego</a></div>
                </div>
        </nav>

    </footer>

</div>
