

<div class="container-fluid" id="footer-content">

    <footer>
       <nav class="navbar navbar-default">
            <div class='quick-contact'>
                <div class='row'>
                    <div class='col-md-12'>
                        <div class='row'>
                            <div class='col-md-4'>
                                <h3 class='title-contact'>Quick Contact</h3>
                                <h4>Using Marvin? <a href='http://sdss-marvin.readthedocs.io/en/stable/citation.html' target='_blank'>Cite Us!</a></h4>
                            </div>
                            <div class="col-md-4 contact-email">
                                <h3><a href="mailto:manga-marvin@sdss.org?subject=Marvin:" target="_top">MaNGA Marvin List</a></h3>
                                <h5>Version: {{version}}</h5>
                            </div>
                            <div class="col-md-4">
                                <div class="row contact row-first">
                                    <div class="col-md-6">
                                        <a href="mailto:bcherin1@jhu.edu?subject=Marvin:" target="_top" class="brian"><i class="fa fa-eye" aria-hidden="true"></i>Brian Cherinka</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="mailto:andrewsb@pitt.edu?subject=Marvin:" target="_top" class="brett"><i class="fa fa-fighter-jet" aria-hidden="true"></i>Brett Andrews</a>
                                    </div>
                                </div>
                                <div class="row contact">
                                    <div class="col-md-6">
                                        <a href="mailto:gallegoj@uw.edu?subject=Marvin:" target="_top" class="jose"><i class="fa fa-paw" aria-hidden="true"></i>José Sánchez-Gallego</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="mailto:joelbrownstein@astro.utah.edu?subject=Marvin:" target="_top" class="joel"><i class="fa fa-university" aria-hidden="true"></i>Joel Brownstein</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </footer>

</div>
