
{% from 'macros.html' import galidsearch, login %}

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('index_page.Marvin:index')}}">Marvin</a>
        </div>

        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{{'active' if active_page=='help'}}" data-toggle="tooltip" data-placement="bottom" title="Go to Marvin's Github page"><a target='_blank' href="https://github.com/sdss/marvin"><i class="fa fa-github fa-fw" aria-hidden="true"></i>Github</a></li>
                <li class="{{'active' if active_page=='help'}}" data-toggle="tooltip" data-placement="bottom" title="Read the documentation"><a target='_blank' href="http://sdss-marvin.readthedocs.io/en/stable/"><i class="fa fa-question-circle-o fa-fw" aria-hidden="true"></i>Help</a></li>
                <li class="{{'active' if active_page=='help'}}" data-toggle="tooltip" data-placement="bottom" title="See how to acknowledge us"><a target='_blank' href='http://sdss-marvin.readthedocs.io/en/stable/citation.html'><i class="fa fa-quote-right fa-fw" aria-hidden="true"></i>Cite Us</a></li>
                <li class="{{'active' if active_page=='search'}}" id='search_link' data-toggle="tooltip" data-placement="bottom" title="Search the MaNGA data by parameters"><a href="{{url_for('search_page.Search:index')}}"><i class="fa fa-search fa-fw" aria-hidden="true"></i>Query</a></li>
                <li class="{{'active' if active_page=='explore'}}" id='explore_link' data-toggle="tooltip" data-placement="bottom" title="Upload a list of targets to explore via DAP MAPS"><a href="{{url_for('explore_page.Explore:index')}}"><i class="fa fa-arrow-circle-up fa-fw" aria-hidden="true"></i>Upload</a></li>
            </ul>

            <!-- Galaxy ID Search Box-->
            {# Marvin PlateId/MaNGAId Search #}
            {{galidsearch('headform', tip='left')}}

            <!-- MPL Version Selection -->
            {# MPL Version Selection #}
            <form class='navbar-form navbar-left navbar-input-group' id='mplform' role='form' method="post">
                <div id='marvinmpl' class='form-group'>
                    <select class='form-control selectpicker input-sm show-tick' id='mplselect' name='release' title='Choose an MPL/DR' >
                        {% for ver in versions %}
                            {% if ver.name == release %}
                                <option data-subtext='{{ver.subtext}}' id='{{ver.name}}' value='{{ver.name}}' selected>{{ver.name}}</option>
                            {% else %}
                                <option data-subtext='{{ver.subtext}}' id='{{ver.name}}' value='{{ver.name}}'>{{ver.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </form>

            <!-- Links to some Docs -->
            {# Links to Whats New and Known Issues #}
            <div class='nav navbar-nav btn-group' id='links' role='group'>
                <a class='navbar-btn btn btn-info' target='_blank' href='http://sdss-marvin.readthedocs.io/en/stable/whats-new.html'>What's New</a>
                <a class='navbar-btn btn btn-danger' target='_blank' href='http://sdss-marvin.readthedocs.io/en/stable/known-issues.html'>Known Issues</a>
                {#<a class='navbar-btn btn btn-warning' target='_blank' href='http://sdss-marvin.readthedocs.io/en/stable/getinvolved.html'>Get Involved</a>#}
                <a class='navbar-btn btn btn-success' target='_blank' href='https://github.com/sdss/marvin/issues/new'>Provide Feedback</a>
            </div>

            <!-- Login / User Prefs -->
            {% if 'public' is active_feature %}
                <div class='navbar-gotosas'>
                    <ul class='nav navbar-nav navbar-right'>
                        <li id='gotosas'>
                            <a href="https://lore.sdss.utah.edu/marvin/"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i><b>Go To Collab</b></a>
                        </li>
                    </ul>
                </div>
            {% elif not current_user.is_authenticated %}
                <!-- Login -->
                {# Login #}
                <div class='navbar-login'>
                  <ul class="nav navbar-nav navbar-right">
                    <li id='login-drop' class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i><b>Login</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                {{login()}}
                            </li>
                        </ul>
                    </li>
                  </ul>
                </div>
            {% else %}
                <!-- User Preferences -->
                {# User Preferences Post Login #}
                <div class='navbar-userprefs'>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{current_user.username}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{url_for('users_page.User:preferences')}}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Preferences</a></li>
                                <li class="divider"></li>
                                <li><a href="{{url_for('index_page.logout')}}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endif %}

        </div>
    </div>
</nav>
