{% extends "layout.html" %}

{% block head %}
{% endblock head %}

{% block body %}

{% block code %}
<script type='text/javascript'>
$(function() {
    new Dygraph(document.getElementById("graphdiv"),
              {{spectra}},
              //[[1,[1,0.1],[3,0]],[2,[2,0.5],[2,0]],[3,[3,1],[1,0]]],
              {
                labels: ['x','Flux'],
                errorBars: true
              });
});
</script>
{% endblock code %}

<div class='well'>
	<div class='row'>
		<h4>{{intro}}</h4>
	</div>
	<div class='row'>
		<h5>Here's a cube: {{cube.ra, cube.dec, cube.mangaid, cube.plate}}</h5>
	</div>
	<div class='row'>
		<h5>Here's a spectrum: {{specmsg}}</h5>
	</div>
    <div id='graphdiv' style="width:100%;">
    </div>
</div>

<div class='well'>
    <div class='row'>
        <form class='form' method='POST' role='form' action="{{url_for('index_page.Marvin:search')}}">
          <div class='row'>
            <div class='col-md-1'>
              <div>{{ifuform.name.label}}: {{ifuform.name(class_='form-control')}}</div>
              <div>{{sampleform.nsa_redshift.label}}: {{sampleform.nsa_redshift(class_='form-control')}}</div>
            </div>
          </div>
        </form>
    </div>
</div>


{% endblock body %}
