{% extends "layout.html" %}

{% block body %}

{% block code %}
<script type='text/javascript'>
var webspec = null;
$(function() {
    webspec = new Dygraph(document.getElementById("graphdiv"),
              {{spectra}},
              //[[1,[1,0.1],[3,0]],[2,[2,0.5],[2,0]],[3,[3,1],[1,0]]],
              {
                labels: ['x','Flux'],
                errorBars: true
              });
});
</script>

{% endblock code %}

<div class='well'>
	<div class='row'>
		<h4>{{intro}}</h4>
	</div>
  {% if cube %}
  	<div class='row'>
  		<h5>Here's a cube: {{cube.ra, cube.dec, cube.mangaid, cube.plate}}</h5>
  	</div>

    <div class='row'>
      <div class='col-md-12'>
        <h5 id='specmsg'>Here's a spectrum: {{specmsg}}</h5>
        <div id="mouse-position"></div>
        <div id='mouse-output'></div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <div id='map' class='map' style='width:100%; height:400px;'></div>
      </div>
      <div class='col-md-9'>
        <div id='graphdiv' style="width:100%;"></div>
      </div>
    </div>

  {% else %}
    <div><h4>No cube found for mangaid {{mangaid}}</h4></div>
  {% endif %}
</div>

{# Single Text Box #}
<div class='well'>
    <div class='row'>
        <form class='form' method='POST' role='form' action="{{url_for('index_page.Marvin:search')}}">
          <div class='row'>
            <div class='col-md-2'>
              {#<div class='form-group'>
                <label for='#multiple-datasets'>Parameters</label>
                <div id='multiple-datasets'><input class='typeahead form-control' type='text' placeholder='Searchable Parameters'></div>
              </div>#}
            </div>
            <div class='col-md-6'>
              <div class='form-group'>
                <div>{{mainform.searchbox.label}}: {{mainform.searchbox(class_='form-control', placeholder='ooooh type in me hard')}}</div>
              </div>
            </div>
          </div>
        </form>
    </div>
</div>

<script type='text/javascript'>
$(function() {

      var header = {'PC1_1': -2.47222222222e-05, 'CDELT1': 1.0, 'CDELT2': 1.0, 'CUNIT2': 'deg', 'height': 50.0, 'hghtpix': 562.0, 'CRVAL2': 48.690200933, 'LATPOLE': 48.6902009334, 'scale': 0.089, 'EQUINOX': 2000.0, 'CRPIX1': 281.0, 'CRPIX2': 281.0, 'CRVAL1': 232.544703894, 'PC2_2': 2.47222222222e-05, 'LONPOLE': 180.0, 'width': 50.0, 'CUNIT1': 'deg', 'ra': 232.544703894, 'CTYPE1': 'RA---TAN', 'WCSAXES': 2.0, 'wdthpix': 562.0, 'RADESYS': 'FK5', 'dec': 48.6902009334, 'opts': 'G', 'CTYPE2': 'DEC--TAN'};
      var w = new wcs();
      w.init(header);

      var mousePositionControl = new ol.control.MousePosition({
        coordinateFormat: ol.coordinate.createStringXY(4),
        projection: 'EPSG:4326',
        // comment the following two lines to have the mouse position
        // be placed within the map.
        className: 'custom-mouse-position',
        target: document.getElementById('mouse-position'),
        undefinedHTML: '&nbsp;'
      });

      var extent = [0, 0, 562, 562];
      var projection = new ol.proj.Projection({
        code: 'ifu',
        units: 'pixels',
        extent: extent
      });

      var lastFeature;
      var source = new ol.source.Vector({wrapX: false});

      var vector = new ol.layer.Vector({
        source: source,
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ffcc33',
            width: 2
          }),
          image: new ol.style.Circle({
            radius: 3,
            fill: new ol.style.Fill({
              color: '#ffcc33'
            })
          })
        })
      });

      var map = new ol.Map({
        controls: ol.control.defaults({
          attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
            collapsible: false
          })
        }).extend([mousePositionControl]),
        layers: [
          new ol.layer.Image({
            source: new ol.source.ImageStatic({
              attributions: [
                new ol.Attribution({
                  html: '&copy; <a href="http://xkcd.com/license.html">xkcd</a>'
                })
              ],
              url: 'http://localhost:80/sas/mangawork/manga/spectro/redux/v1_5_1/8485/stack/images/test_wcs2.png',
              projection: projection,
              imageExtent: extent
            })
          })
        , vector],
        target: 'map',
        view: new ol.View({
          projection: projection,
          center: ol.extent.getCenter(extent),
          zoom: 0,
          maxZoom: 8,
          maxResolution: 1.4
        })
      });

      var draw;
      function addInteraction() {
        var value = 'Point';
        var geometryFunction, maxPoints;
        draw = new ol.interaction.Draw({
          source: source,
          type: /** @type {ol.geom.GeometryType} */ (value),
          geometryFunction: geometryFunction,
          maxPoints: maxPoints
        });

        draw.on('drawend', function(e) {
          if (lastFeature) {
            source.removeFeature(lastFeature);
          }
          lastFeature = e.feature;
        });

        map.addInteraction(draw);
      };

      function showMouse(evnt) {
        var map = evnt.map;

        var mousepos = {'mousecoords': evnt.coordinate, 'plateifu': '8485-1901'};
        $.post(Flask.url_for('index_page.getspaxel'), mousepos,'json')
            .done(function(data){
              $('#mouse-output').empty()
              x = Math.round(parseFloat(evnt.coordinate[0]));
              y = Math.round(parseFloat(evnt.coordinate[1]));
              console.log('mouse', evnt.coordinate, x, y, w.pix2sky(x,y));
              console.log('other wcs', w.pix2sky(0,0), w.pix2sky(281.4,281.4), w.pix2sky(562,562), w.sky2pix(232.544703894, 48.6902009334));
              var myhtml = "<h5>My mouse coords "+evnt.coordinate+", message: "+data.result.message+"</h5>"
              $('#mouse-output').html(myhtml);
              $('#specmsg').empty();
              $('#specmsg').html("Here's a spectrum: "+data.result.specmsg);
              webspec.updateOptions({'file': data.result.spectra});
            })
            .fail(function(data){
              $('#mouse-output').empty()
              var myhtml = "<h5>Error message: "+data.result.message+"</h5>"
              $('#mouse-output').html(myhtml);
            });

      };

      map.on('singleclick', showMouse);
      addInteraction();

});
</script>
{% endblock body %}
