<!DOCTYPE html>
{% set active_page = active_page|default("index") %}


<html lang="en">

<head>
	<!-- CSS sources-->
	{# include css files #}
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="preconnect stylesheet" crossorigin="anonymous">
	<link rel="preconnect stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
	<link rel='preconnect stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/ol3/3.14.2/ol.min.css'>
	{% block csshead %}{% endblock csshead %}

	<!-- Javascript sources-->
	{# include js files #}
	<script rel='preconnect' type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script rel='preconnect' type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.actual/1.0.17/jquery.actual.min.js"></script>
	<script rel='preconnect' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script rel='preconnect' src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js" async defer></script>
	<script rel='preconnect' src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-en-US.min.js" async defer></script>
	<script rel='preconnect' src="//cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.1/typeahead.bundle.min.js" async defer></script>
	<script rel='preconnect' src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
	<script rel='preconnect' src="//cdnjs.cloudflare.com/ajax/libs/ol3/3.14.2/ol.min.js"></script>
	{#<script type="text/javascript" src="{{url_for('static',filename='js/wcs.js')}}"></script>#}
	{% block jshead %}{% endblock jshead %}
</head>

<body>

	<!-- Header section -->
	{% include 'header.html' %}

	<!-- Main Body -->
	<div class="container-fluid" id="content">
		{% block body %}{% endblock body %}
	</div>

	<!-- Footer section -->
	{% include 'footer.html' %}

	<!-- Javascript Code Block -->
	<script type='text/javascript'>var marvin=marvin||{};</script>
	<script type="text/javascript" src="{{url_for('static',filename='marvin.min.js')}}"></script>
	<script type='text/javascript'>var utils = new marvin.Utils();</script>
	{% block code %}{% endblock code %}
	{{ JSGlue.include() }}
</body>
</html>

