<!DOCTYPE html>
{% set active_page = active_page|default("index") %}


<html class="no-js" lang="en">

<head>
	<!-- CSS sources-->
	{# include css files #}
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href="{{url_for('lib',filename='dist/marvin.min.css')}}"></script>
	<link rel="shortcut icon" href="{{url_for('static',filename='images/marvin_favicon.ico')}}" type="image/x-icon" />
	<link rel="preconnect stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
	{% block csshead %}{% endblock csshead %}


	<!-- Javascript sources-->
	{# include js files #}
	<script rel='preconnect' type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<script rel='preconnect' type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.actual/1.0.19/jquery.actual.min.js"></script>
	<script rel='preconnect' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script rel='preconnect' src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
	<script rel='preconnect' src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.16.0/locale/bootstrap-table-en-US.min.js"></script>
	<script rel='preconnect' src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
	{#<script type="text/javascript" src="{{url_for('static',filename='js/wcs.js')}}"></script>#}
	<script rel='preconnect' type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.1.1/bloodhound.min.js"></script>
	<script rel='preconnect' type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
	<script rel='preconnect' src="https://cdn.ravenjs.com/3.7.0/raven.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script rel='preconnect' src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script rel='preconnect' src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>

	{% block jshead %}{% endblock jshead %}
</head>

<body class='{{page|default("marvin")}}'>

	<!-- Header section -->
	{% include 'header.html' %}

	<!-- Main Body -->
	<div class="container-fluid" id="content">
		{% block body %}{% endblock body %}
	</div>

	<!-- Footer section -->
	{% include 'footer.html' %}

	<!-- Javascript Code Block -->
	{{ JSGlue.include() }}
	<!-- this snippet removes the no-js class -->
	<script> document.documentElement.classList.remove("no-js"); </script>
	<!-- this script is a small modernizer build to detect if browser supports webp image formats.  See
	     https://css-tricks.com/using-webp-images/-->
	<script type='application/javascript' src="{{url_for('lib',filename='dist/modernizr-custom.js')}}"></script>
	<!-- we load the marvin javascript -->
	<script type='application/javascript' src="{{url_for('lib',filename='dist/marvin.js')}}"></script>
	<script type='application/javascript'>
		var m = new Marvin();
	</script>
	{% block code %}{% endblock code %}
</body>
</html>
