{# General Macros #}

{# Drop-down download cube/rss button #}
{% macro dropdownload(id, target) %}

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Download All ...
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id='{{id}}' role="menu" >
      <li><a id='cube' data-toggle='modal' data-target='#{{target}}' onclick='utils.rsyncFiles()'>Cubes</a></li>
      <li><a id='rss'  data-toggle='modal' data-target='#{{target}}' onclick='utils.rsyncFiles()'>RSS</a></li>
      {% if session['drpver'] >= 'v1_5_0' %}
            <li><a id='maps'  data-toggle='modal' data-target='#{{target}}' onclick='utils.rsyncFiles()'>MAPS</a></li>
            <li><a id='mc'  data-toggle='modal' data-target='#{{target}}' onclick='utils.rsyncFiles()'>ModelCube</a></li>
      {% endif %}
    </ul>
  </div>

{% endmacro %}

{# Rsync Modal window #}
{% macro rsyncmodal() %}

    {# Rsync command modal #}
    <div id='rsynclink' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='rsynclabel' aria-hidden='true'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Your Rsync Link</h4>
                </div>
                <div class='modal-body'>
                    <input type='text' class='form-control' id='rsyncbox'/>
                </div>
            </div>
        </div>
    </div> {# end rsync modal #}

{% endmacro %}

{# Galaxy Search by Plate, Plate-IFU, MaNGA-ID #}
{% macro galidsearch(id) %}
    <form class="navbar-form navbar-left galidsearch" role="form" id='{{id}}' action="{{url_for('index_page.galidselect')}}" method="post">
        <div class='form-group form-inline galids' id='scrollable-dropdown-menu'>
            <input class='form-control typeahead' type='text' name='galid' placeholder='Plate or ID Designation' id='galid-{{id}}' val='' autocomplete='off' data-provide='typeahead'/>
        </div>
    </form>
{% endmacro %}

{# Login Form #}
{% macro login() %}
     <div class="row">
            <div class="col-md-12">
                 <form class="form" role="form" method="post" action='login' accept-charset="UTF-8" id="loginform">
                        <div class="form-group">
                             <label class="sr-only" for="login-user">Username</label>
                             <input type="text" class="form-control" id="login-user" name='username' placeholder="Username" required>
                        </div>
                        <div class="form-group">
                             <label class="sr-only" for="login-pass">Password</label>
                             <input type="password" class="form-control" id="login-pass" name='password' placeholder="Password" required>
                        </div>
                        <div id='loginmessage'></div>
                        <div class="form-group">
                             <button type="button" onclick='m.utils.login()' class="btn btn-primary btn-block">Sign in</button>
                        </div>
                 </form>
            </div>
     </div>
{% endmacro %}

{# Login Modal Window #}
{% macro loginmodal() %}
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" align="center">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                  <img class="img-responsive img-circle" id="img_logo" src="{{url_for('static',filename='images/marvin_face.png')}}" alt='Marvin Face'>
              </div>

              <div class='modal-body'>
                  {{login()}}
              </div>

          </div>
      </div>
  </div>
{% endmacro %}

{# Download Button for Single Galaxy #}
{% macro download(id, links) %}
  <div class="btn-group marvin-download-singles" id='{{id}}'>
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-download fa-fw" aria-hidden="true"></i>Download <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="{{links.cube|default('#')}}">Cube</a></li>
      <li><a href="{{links.rss|default('#')}}">RSS</a></li>
      <li><a href="{{links.map|default('#')}}">Default MAPS</a></li>
      {% if session['drpver'] >= 'v2_0_0' %}
          <li><a href="{{links.mc|default('#')}}">Default ModelCube</a></li>
      {% endif %}
    </ul>
  </div>
{% endmacro %}

{# List Group #}
{% macro listgroup(mylist, id) %}
  <ul class="list-group" id='list_{{id}}'>
    {% for item in mylist %}
    <li class="list-group-item" id='{{item|lower}}'>{{item}}</li>
    {% endfor %}
  </ul>
{% endmacro %}

{# Panel With List Group #}
{% macro panellist(title, mylist, id) %}
  <div class="panel panel-info hide" id='panel_{{id}}'>
      <div class="panel-heading">
          <h3 class="panel-title">{{title|default('Panel Title')}}</h3>
      </div>
      {{listgroup(mylist, id)}}
  </div>
{% endmacro %}

{# Info PopUp #}
{% macro infopopup(text, title, inner, id, alert='warning', place='right') %}
{#<div class='col-md-{{col}} infopop' id='{{id}}'>#}
    <button type="button" class="btn btn-{{alert}}" data-html='true' data-toggle="popover"
    data-placement="{{place}}" data-container='#{{id}}' title="{{title}}" data-content="{{inner}}">{{text}}</button>
{#</div>#}
{% endmacro %}

{# NSA Table #}
{% macro nsatable(nsa, cols, plotcols) %}
<div id='nsatool'> <h4><strong><a target='_blank' href='http://www.sdss.org/dr13/manga/manga-target-selection/nsa/'>NSA Parameters</a></strong></h4></div>
<div class='col-md-2' id='nsadiv'>
  <table class='table table-responsive table-condensed table-striped table-bordered' id='nsatable'
  data-toggle='table' data-toolbar='#nsatool' data-show-pagination-switch="true" data-pagination="true"
  data-page-size='6' data-page-list='[6]'>
  <thead>
    <tr><th>Name</th><th>Value</th></tr>
  </thead>
  <tbody>
    {% for c in cols %}
    <tr><td>
        {% if c in plotcols %}
          <span class='mover' id='{{c}}' draggable=true><strong>{{c|filternsa}}</strong></span>
        {% else %}
          {{c|filternsa}}
        {% endif %}
        </td>
        <td>{{nsa[c]|filternsaval(c)}}</td></tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% endmacro %}

{# NSA Scatter Plot and Select #}
{% macro nsascatter(nsadict, id) %}
    <div class='row nsascatter'>
      {#<div class='col-md-2'>
        <select class="selectpicker nsaselect" id='nsachoices{{id}}' multiple title='Choose x and y' data-max-options="2"
        data-width='fit'>
          <optgroup label="X" data-max-options="1">
          {% for k in nsadict.keys() %}
          <option value='x_{{k}}''>{{k|filternsa}}</option>
          {% endfor %}
          </optgroup>
          <optgroup label="Y" data-max-options="1">
          {% for k in nsadict.keys() %}
          <option value='y_{{k}}'>{{k|filternsa}}</option>
          {% endfor %}
          </optgroup>
        </select>
        <button class='btn btn-warning nsaplotbuts' id='plotnsabut{{id}}'>Plot</button>
        <button class='btn btn-info nsareset' id='resetnsa{{id}}'>Reset</button>
      </div>#}

      <div class='input-group col-md-6' id='nsa-grp'>
        <div id='ddtext'><p class="text-info">Drag-n-Drop the Bold Table Parameter Name to change the Plot Axis!</p></div>
        <span class="input-group-addon info" id="nsa-load"><i class='fa fa-circle-o-notch fa-spin fa-fw'></i>Loading...</span>
      </div>

      <div class='col-md-6'>
        <div class='marvinplot' id='nsahighchart{{id}}'></div>
      </div>
      <div class='col-md-6'>
        <div class='marvinplot' id='nsahighchart{{id+1}}'></div>
      </div>
    </div>
{% endmacro %}

{# Image Carousel #}
{% macro imgcarousel(images, id) %}
<!-- Slider -->
<div class="row">
    <!-- Thumbnail View -->
    {# Thumbnail View #}
    <div class="col-sm-6" id="slider-thumbs">
        <!-- Bottom switcher of slider -->
        <ul class="hide-bullets">
            {% for im in images %}
                <li class="col-sm-3">
                    <a class="thumbnail" data-toggle="tooltip" data-placement="right" title="{{im.name}}" id="carousel-selector-{{loop.index0}}"><img src="{{im.thumb}}" alt="Image {{loop.index0}}"></a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Large Image Carousel -->
    {# Large Image Carousel #}
    <div class="col-sm-6">
        <div class="col-xs-12" id="slider">
            <!-- Top part of the slider -->
            <div class="row">
                <div class="col-sm-12" id="carousel-bounding-box">
                    <div class="carousel slide" id="{{id}}">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            {% for im in images %}
                                <div class="item {{'active' if loop.index0 == 0 else ''}}" data-slide-number="{{loop.index0}}">
                                    <a href="{{url_for('galaxy_page.Galaxy:get',galid=im.name)}}" target='_blank'><img src="{{im.image}}" alt="Image {{loop.index0}}"></a>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Carousel nav -->
                        <a class="left carousel-control" href="#{{id}}" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#{{id}}" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Slider-->
</div>
{% endmacro %}

{# Dygraphs Help Popup #}
{% macro dygraph_popup() %}
<div class="modal fade" id="dyghelp_modal" tabindex="-1" role="dialog" aria-labelledby="gLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Graph: How to use the spectrum plotter</h4>
            </div>
            <div id="gbody" class="modal-body">
              <div class='row'>
                <div class='col-md-12'>
                <ul>
                  <li>Select a region from left to right to <em>zoom in</em> on the horizontal axis.</li>
                  <li>Select a region from top to bottom to <em>zoom in</em> on the vertical axis.</li>
                  <li>Double click on the plot to <em>zoom out</em>.</li>
                  <li>Hold SHIFT key and drag to pan right, left, up, down.</li>
                  <li>Hover for wavelength vs. flux values.</li>
                  <li>Click Toggle Observed/Rest Frame to switch between rest-frame and observed wavelengths</li>
                  <li>Click Toggle Lines On/Off to turn on common emission/absorption lines</li>
                  <li>Click Toggle Mask On/Off to display bad pixel regions, ones flagged as DONOTUSE</li>
                </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <span class="glyphicon glyphicon-info-sign"></span> Contact <a href="mailto:helpdesk@sdss.org?subject=Marvin">helpdesk@sdss.org</a> for further assistance
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro maphelp_popup(release, dr) %}
<div class="modal fade" id="maphelp_modal" tabindex="-1" role="dialog" aria-labelledby="gLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Learn more about DAP MAPS</h4>
            </div>
            <div id="gbody" class="modal-body">
              <div class='row'>
                <div class='col-md-12'>
                <ul>
                  <li><a target='_blank' href='https://www.sdss.org/{{dr}}/manga/manga-data/data-model/#DAP'>About DAP MAPs</a></li>
                  <li><a target='_blank' href='https://www.sdss.org/{{dr}}/manga/manga-data/working-with-manga-data/#daphyb'>About HYB Binning</a></li>
                  <li><a target='_blank' href='https://sdss-marvin.readthedocs.io/en/stable/datamodel/{{release|striprelease}}.html#{{release|striprelease}}dap'>Marvin DAP DataModel</a></li>
                  <li><a target='_blank' href='https://data.sdss.org/datamodel/files/MANGA_SPECTRO_ANALYSIS/DRPVER/DAPVER/DAPTYPE/PLATE/IFU/manga-MAPS-DAPTYPE.html'>MAPs FITS DataModel</a></li>
                  <li><a target='_blank' href='https://data.sdss.org/datamodel/files/MANGA_SPECTRO_ANALYSIS/DRPVER/DAPVER/DAPTYPE/PLATE/IFU/manga-LOGCUBE-DAPTYPE.html'>ModelCube FITS DataModel</a></li>
                </ul>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro queryhelp_popup(release, dr) %}
<div class="modal fade" id="queryhelp_modal" tabindex="-1" role="dialog" aria-labelledby="gLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Learn more about Queries</h4>
            </div>
            <div id="gbody" class="modal-body">
              <div class='row'>
                <div class='col-md-12'>
                <ul>
                  <li><a target='_blank' href='https://www.sdss.org/{{dr}}/manga/manga-tutorials/marvin-tutorial/marvin-web/#marvin_web_queries'>Watch a video tutorial</a></li>
                  <li><a target='_blank' href='https://sdss-marvin.readthedocs.io/en/stable/query/query.html'>Getting Started with Queries</a></li>
                  <li><a target='_blank' href='https://sdss-marvin.readthedocs.io/en/stable/tutorials/boolean-search-tutorial.html'>About the Query syntax</a></li>
                  <li><a target='_blank' href='https://sdss-marvin.readthedocs.io/en/stable/datamodel/query_dm.html#groups'>Types of Parameters</a></li>
                  <li><a target='_blank' href='https://sdss-marvin.readthedocs.io/en/stable/datamodel/{{release|striprelease}}.html#{{release|striprelease}}query'>Available Query Parameters</a></li>
                  <li><a target='_blank' href='https://sdss-marvin.readthedocs.io/en/stable/datamodel/query_dm.html'>Marvin Query DataModel</a></li>
                </ul>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{# macro to load static images for webp with fallback to original format #}
{% macro picture(name) %}
<picture>
  <source srcset="{{url_for('static', filename='images/'+name+'.webp')}}" type="image/webp">
  <source srcset="{{url_for('static', filename='images/'+name+'.jpg')}}" type="image/jpeg">
  <img src="{{url_for('static', filename='images/'+name+'.jpg')}}" class="img-responsive img-circle" alt="alt. {{name}}">
</picture>
{% endmacro %}