{# General Macros #}

{# Drop-down download cube/rss button #}
{% macro dropdownload(id, target) %}

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Download All ...
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id='{{id}}' role="menu" >
      <li><a id='cube' data-toggle='modal' data-target='#{{target}}' onclick='utils.rsyncFiles()'>Cubes</a></li>
      <li><a id='rss'  data-toggle='modal' data-target='#{{target}}' onclick='utils.rsyncFiles()'>RSS</a></li>
      {% if session['currentver'] >= 'v1_5_0' %}
            <li><a id='maps'  data-toggle='modal' data-target='#{{target}}' onclick='utils.rsyncFiles()'>MAPS</a></li>
      {% endif %}
    </ul>
  </div>

{% endmacro %}

{# Rsync Modal window #}
{% macro rsyncmodal() %}

    {# Rsync command modal #}
    <div id='rsynclink' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='rsynclabel' aria-hidden='true'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Your Rsync Link</h4>
                </div>
                <div class='modal-body'>
                    <input type='text' class='form-control' id='rsyncbox'/>
                </div>
            </div>
        </div>
    </div> {# end rsync modal #}

{% endmacro %}

{# Galaxy Search by Plate, Plate-IFU, MaNGA-ID #}
{% macro galidsearch(id) %}
    <form class="navbar-form navbar-left galidsearch" role="form" id='{{id}}' action="{{url_for('index_page.galidselect')}}" method="post">
        <div class='form-group form-inline galids' id='scrollable-dropdown-menu'>
            <input class='form-control typeahead' type='text' name='galid' placeholder='Plate or ID Designation' id='galid' val='' autocomplete='off' data-provide='typeahead'/>
        </div>
    </form>
{% endmacro %}

{# Login Form #}
{% macro login() %}
     <div class="row">
            <div class="col-md-12">
                 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                        <div class="form-group">
                             <label class="sr-only" for="login-user">Username</label>
                             <input type="text" class="form-control" id="login-user" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                             <label class="sr-only" for="login-pass">Password</label>
                             <input type="password" class="form-control" id="login-pass" placeholder="Password" required>
                             <div class="help-block text-right"><a href="">Forget your password?</a></div>
                        </div>
                        <div class="form-group">
                             <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        </div>
                 </form>
            </div>
            <div class="bottom text-center">
                New here ? <a href="#"><b>Join Us</b></a>
            </div>
     </div>
{% endmacro %}

{# Login Modal Window #}
{% macro loginmodal() %}
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" align="center">
                  <img class="img-circle" id="img_logo" src="http://bootsnipp.com/img/logo.jpg">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
              </div>

              <div class='modal-body'>
                  {{login()}}
              </div>

          </div>
      </div>
  </div>
{% endmacro %}
