{% extends "layout.html" %}
{% from 'macros.html' import imgcarousel %}

<!-- Galaxy CSS Sources -->
{% block csshead %}
{% endblock csshead %}
<!-- Galaxy JS Sources-->
{% block jshead %}
{% endblock jshead %}

<!-- Single Galaxy Page -->
{% block body %}

    <div class='imgcars' id="random_images">
        {% if error %}
        <div class='row' id='random_error'>
            <div class='col-md-6 col-md-offset-2'>
                <div class='alert alert-danger' role='alert'>
                    <p>{{error}}</p>
                </div>
            </div>
        </div>
        {% endif %}

        {# Image Carousel #}
        {{imgcarousel(images, 'randomCar')}}

    </div>

{% endblock body %}

<!-- JS Code -->
{% block code %}
<script type='application/javascript'>
    $(function() {
        let randomcar = new Carousel('#randomCar', '[id^=carousel-selector-]');
    });
</script>
{% endblock code %}
