{% extends "layout.html" %}
{% set active_page = active_page|default("search") %}
{% from 'macros.html' import infopopup, queryhelp_popup %}

{% block csshead %}
    <link rel='preconnect stylesheet' href='https://unpkg.com/jQuery-QueryBuilder@2.4.3/dist/css/query-builder.dark.min.css'>
{% endblock csshead %}

{% block body %}
    <!-- Natural Language Search Box -->
    {# Search Box #}
    <div class='well'>
        <div class='row'>

            <form class='form' id='searchform' method='POST' role='form' action="{{url_for('search_page.Search:index')}}">
              <div class='row vertical-align'>
                <div class='col-md-1 col-md-offset-1'>
                    <div class='form-group'>
                        <label style="cursor:pointer" id='queryhelp' for='setdefaults' class='pull-right' data-toggle='modal' data-target='#queryhelp_modal'><span class="glyphicon glyphicon-question-sign"></span> Learn more</label>
                        {{queryhelp_popup(release, latest_dr)}}
                    </div>
                </div>

                {# Return Paramter dropdown select #}
                <div class='col-md-2'>
                    <div class='form-group'>
                        <label><a target='_blank' href='{{returnurl}}' data-toggle="tooltip" title="Click to see the full list of parameters">Return Parameters:</a></label>
                        <select class="selectpicker form-control" id='returnparams' name='returnparams' multiple data-live-search='True' title='Choose Parameters (limit 5)' data-max-options='5' data-header='Select parameters to return'>
                            {% for group in paramdata %}
                                <optgroup label='{{group.name}}'>
                                    {% for param in paramdata[group.name] %}
                                        <option data-subtext='{{param.full}}' {{'selected' if returnparams and param.full in returnparams}} data-tokens='{{param|make_token(group.name)}}' id='{{param.full}}' name='{{param.name}}' value='{{param.full}}'>{{param.display}}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {# Input Search Filter Box #}
                <div class='col-md-4'>
                  <div class='form-group'>
                    {{searchform.searchbox.label}}
                    <div class="input-group">
                      {{searchform.searchbox(class_='form-control', placeholder=placeholder)}}
                      <span class="input-group-btn">
                        {{searchform.submitsearch(class_='form-control btn btn-default')}}
                      </span>
                    </div>
                  </div>
                </div>

                {# Guided Query Builder button for Modal #}
                <div class='col-md-2'>
                    <div class='form-group'>
                        <label>Need help? Try this...</label>
                        <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#guideqb">Guided Query Builder</button>
                    </div>
                </div>

              </div>
            </form>
        </div>
    </div>

    <!-- Search Form Validation Errors -->
    {# Search Validation Errors #}
    {% if searchform.errors %}
        <div class='formerrors well alert-danger'>
            <h3 class='text-danger'>Form Validation Errors: Please try again!</h3>
            <ul class="errors text-danger">
                {% for field_name, field_errors in searchform.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ searchform[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <!-- Search Results -->
        {% if formparams %}
            {# Search Results #}
            {% if results %}
                <div class='well' id='search_results'>
                    <div class='row' id='search_results_msg'>
                        <div class='col-md-3'>
                            <h3>Search results</h3>
                            <h4>Using filter: {{filter}}</h4>
                            <h5>Total Count: {{count}}, Showing Results: {{reslen}}</h5>
                            {% if runtime < 20 %}
                            <h5>Query Runtime: {{runtime}} seconds </h5>
                            {% else %}
                            <h5>Query Runtime: {{runtime}} seconds </h5><h5 class='text text-danger'>Your query took longer than 20 seconds.  Consider revising your query filter and limiting your return parameters.</h5>
                            {% endif %}
                        </div>
                        {# Info PopUp #}
                        <div class='col-md-7 infopop' id='marvinquery'>
                        {{infopopup('See how to do it in Python', 'Marvin Query - start iPython', querystring, 'marvinquery', 'warning')}}
                        </div>
                    </div>
                </div>
                <!-- Table -->
                {# Table #}
                <div class='table-responsive' id='searchtablediv'>
                    <div id='toolbar'>
                        <a class='btn btn-sm btn-default' role='button' target='_blank' href="{{url_for('search_page.postage', page=1)}}" data-toggle="tooltip" title="View postage stamps of targets in search results" data-container='body'><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View</a>
                        <div class="btn-group" id='export-btn'>
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label='export-data'>
                                <span class="glyphicon glyphicon-export" aria-hidden="true" data-toggle="tooltip" title="Export the table data" data-container='body'></span><span class="sr-only">Export</span><span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class='export' id='export-json' name='json' role='button'>JSON</a></li>
                              <li><a class='export' id='export-csv' name='csv' role='button'>CSV</a></li>
                            </ul>
                          </div>
                        <a href='#' style='display: none;' class='btn btn-sm btn-warning disabled' id='export-load'><i class='fa fa-circle-o-notch fa-spin fa-fw'></i>Exporting data...</a>
                    </div>
                    <div id='errdiv'><p class='alert alert-danger' id='tableerror' style="display:none;">hello</p></div>
                    <table id='searchtable'></table>
                </div>
            {% else %}
                {% if errmsg %}
                    <div class='well'>
                        <div class='row text-danger'>
                            <h3>Search Error</h3>
                            <h4>{{errmsg}}
                        </div>
                    </div>
                {% else %}
                    <div class='well'>
                        <div class='row'>
                            <h3>Search results</h3>
                            <h4>Using filter: {{filter}}</h4>
                            <h4>No results found</h4>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

    {# Guided Search Modal Window #}
    <div class="modal fade" id="guideqb" data-backdrop="false" tabindex="0" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header well">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Guided Query Builder <a target='_blank' href='http://querybuilder.js.org/demo.html'>(demo)</a> <small>drag me</small></h4>
          </div>
          <div class="modal-body well">
            <div id='builder'></div>
          </div>
          <div class="modal-footer well">
            <button class='btn btn-primary btn-sm pull-left' type='button' id='get-sql'>Generate SQL</button>
            <button class='btn btn-primary btn-sm pull-left' type='button' id='reset-sql'>Reset SQL</button>
            <button class='btn btn-primary btn-sm pull-left' type='button' id='run-sql'>Run Query</button>
            <div id='sqlalert'></div>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}

<!-- JS Code -->
{% block code %}
<script rel='preconnect' src='https://unpkg.com/jQuery-QueryBuilder@2.4.3/dist/js/query-builder.standalone.min.js'></script>
<script rel='preconnect' src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script rel='preconnect'  src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/defer-url/bootstrap-table-defer-url.min.js"></script>
<script rel='preconnect' src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/pipeline/bootstrap-table-pipeline.min.js"></script>
<script type='application/javascript'>
    $(function() {
        m.table = new Table($('#searchtable'));
        m.table.print();
        // Set up query typeahead
        m.search = new Search();
        // m.search.initTypeahead('#searchform .typeahead', '#searchform');
        // Load Search Results if any
        var res = {{results|tojson}};
        var url = Flask.url_for('search_page.webtable')
        if (res) {
            m.table.initTable(url, res);
        };
        // init the query builder
        let gpars = {{guideparams|tojson}};
        m.search.setupQB(gpars);
    });
</script>
{% endblock code %}
