{% extends "layout.html" %}

{% block head %}
{% endblock head %}

{% block body %}

<div class='well'>
    <div class='row'>
        <div class='col-md-10'>
            <h3>Search results</h3>
            <h4>Using filter: {{filter}}</h4>
            <h5>Total Count: {{count}}, Showing Results: {{results if results else 'No results found'}}</h5>
        </div>
    </div>
</div>

{% if mainform.errors %}
<div class='formerrors well alert-danger'>
    <h3>Form Validation Errors: Please try again!</h3>
    <ul class="errors">
        {% for field_name, field_errors in mainform.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ mainform[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if results %}
<div class='well'>
    <div class='table-responsive' id='testtable'>
        <table id='table' data-toggle="table" data-classes='table table-condensed table-bordered table-hover' data-url="{{url_for('api.webtable')}}" data-pagination="true" data-method='post' data-content-type="application/x-www-form-urlencoded"
           data-page-size="10" data-page-list="[5, 10, 20]" data-side-pagination="server" data-search='true' data-sort-name="mangaid" data-sort-order='asc'> <!-- data-response-handler='m.table.handleResponse'>-->
           <thead>
            <tr><th data-field='mangaid' data-sortable='true'>MaNGA ID</th></tr>
           </thead>
        </table>
    </div>
</div>
{% else %}
    {% if errmsg %}
        <div class='well'>
            <div class='row'>
                <h3>Search Error</h3>
                <h4>{{errmsg}}
            </div>
        </div>
    {% else %}
        <div class='well'>
            <div class='row'>
                <h3>No results found</h3>
            </div>
        </div>
    {% endif %}
{% endif %}

{% endblock body %}
