name: Run Test Suite

on: [push, pull_request]

env:
  SAS_BASE_DIR: sas

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
        cache: 'pip'
        cache-dependency-path: '**/setup.cfg'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[dev,web,db]"

    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Download and Check Data
      run: |
        mkdir ${{ env.SAS_BASE_DIR }}
        python bin/get_test_data.py
        ls ${{ env.SAS_BASE_DIR }}/*

    - name: Run tests
      run: |
        pytest tests --cov marvin --cov-report html